@import "../../../styles/styles.scss";
@import "../../../styles/spacing.scss";
@import "../../../styles/typography/typography.scss";

.sponsor-hero-container {
  z-index: 1;
}

.sponsor-hero {
  z-index: 0;
  padding: $space-xxlarge 0;
  display: flex;
  align-content: center;
  align-items: center;
  background: $secondary;
  // box-sizing: content-box !important;
  position: relative;

  @include md {
    height: 800px;
  }

  &-container {
    @include page-margin;

    @include sm {
      text-align: center;
    }

    @include lg {
      max-width: 760px;
    }

    h1 {
      font-weight: 600;
      line-height: 42px;
      font-size: 32px;
      letter-spacing: -1px;
      margin: 0 0 $base * 4;
      color: $primary;

      span {
        display: inline-block;
      }

      @include md {
        line-height: 70px;
        font-size: 64px;
      }
    }

    p {
      margin: 0 0 $base * 4;
      font-size: 18px;
      line-height: 28px;
      color: white;
    }
  }

  &-link {
    background-color: transparent !important;
  }

  &-event-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    @include sm {
      flex-direction: row;
      margin: 0 0 $base * 4;
    }

    &-content {
      margin: 0 0 $base * 4;
      h4 {
        color: white;
      }
      @include sm {
        margin: 0 $base * 2;
        min-width: 250px;

        p {
          padding-bottom: $base;
          border-bottom: 3px solid $primary;
        }
      }
    }
  }
}
