---
---
@import "variables";
@import "mixins";

html {
  background: #d0d0d0;
}

#clubs {
  background: #f0f0f0;
  position: relative;

  .unihack-wrap {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
  }

  p {
    line-height: 28px;
    color: #363636;
    margin: 0 0 24px 0;
  }

  p:last-child {
    margin: 0;
  }

  h3 {
    text-indent: -999em;
    margin: 0 auto 24px auto;
  }

  a.uh_btn {
    @include unihack-button(#606060, #606060);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .wired {
    background: #700080;
    padding: 42px 15px;

    h3 {
      height: 40px;
      width: 266px;
      background: url("/img/wired-logo.png") left center no-repeat;
      background-size: 266px 40px;
    }

    p {
      color: white;
    }

    a {
      @include unihack-button(#fff, #fff);
      &:hover {
        color: #700080;
      }
    }
  }

  .suits {
    padding: 42px 15px;

    h3 {
      height: 40px;
      width: 107px;
      background: url("/img/suits-logo.png") left center no-repeat;
      background-size: 107px 40px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  #clubs {
    .unihack-wrap {
      margin: 0 auto;
    }

    #wired-background {
      background: #700080;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 50vw;
      height: 100%;
    }

    .suits {
      padding-left: 30px;
    }

    .wired {
      padding-right: 30px;
    }
  }
}
