---
---
@import "variables";
@import "mixins";

html {
  background: #d0d0d0;
}

#landing-wrapper {
  width: 100vw;
  max-width: 100%;
  // background: url("/img/landing-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  .landing-inner {
  }

  h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 24px;
    letter-spacing: -2px;
    font-family: $font-title;
    font-weight: 500;

    span {
      display: block;
      line-height: 40px;
      margin-bottom: 2px;
    }

    span.light {
      font-weight: 400;
      font-size: 2rem;
      line-height: 32px;
      letter-spacing: -1px;
    }
  }

  p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  a.uh_btn {
    @include unihack-button(#FFF, #FFF);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover {
      color: $unihack-yellow;
    }
  }

  .city, .city-big {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.7);
      content: ' ';
    }
  }

  .city {
    height: 400px;
  }

  .city-big {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    content: ' ';
  }

  .city-big.right {
    right: 0;
  }

  .city-big.left {
    left: 0;
  }

  .city-inner {
    height: 400px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 3;
    width: 100vw;
    max-width: 100%;
    padding: 20px 0;
  }

  .melb-2017 {
    background: url("/img/bg/unihack-top.jpg") left center no-repeat;
    background-size: cover;

    &:before {
      background: rgba(225, 182, 9, 0.6);
    }
  }

  .syd-2017 {
    background: url("/img/bg/unihack-laptop.jpg") left center no-repeat;
    background-size: cover;

    &:before {
      background: rgba(242, 46, 42, 0.5);
    }

    a.uh_btn {
      @include unihack-button(#FFF, #FFF);

      &:hover {
        color: $unihack-red;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg) - 1) {
  #landing-wrapper {
    .unihack-wrap {
      width: 100%;
    }

    .city-inner > * {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  #landing-wrapper {
    height: 90vh;

    .landing-inner {
      height: 90vh;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 3;
      width: 100vw;
      max-width: 100%;
      padding: 20px 0;
    }

    .city {
      height: auto;
      background: transparent;

      &:before {
        background: transparent;
        height: 0;
        width: 0;
      }
    }

    .city-inner {
      display: block;
      width: auto;
      height: auto;
      padding: 0;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 24px;
      letter-spacing: -4px;

      span {
        line-height: 64px;
        margin-bottom: 3px;
      }

      span.light {
        font-size: 2.75rem;
        line-height: 44px;
        letter-spacing: -2px;
      }
    }

    a.uh_btn {
      font-size: 1.3125rem;
    }

    .melb-2017, .syd-2017 {
      background-position: center center;
    }

    .syd-2017 {
      text-align: right;
    }
  }

  #clubs {
    .unihack-wrap {
      margin: 0 auto;
    }

    #wired-background {
      background: #700080;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 50vw;
      height: 100%;
    }

    .suits {
      padding-left: 30px;
    }

    .wired {
      padding-right: 30px;
    }
  }

}
