---
---
@import "variables";
@import "mixins";

#landing-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 999;
  padding-top: 40px;

  h1 {
    height: 50px;
    width: 210px;
    background: url("/img/unihack-logo-white-@2x.png") top left no-repeat;
    background-size: 210px 50px;
    text-indent: -999em;
  }
}

#landing-wrapper {
  width: 100vw;
  max-width: 100%;
  height: 650px;
  background: url("/img/landing-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  .landing-inner {
    height: 650px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 3;
    width: 100vw;
    max-width: 100%;
    padding: 36px 0;
  }

  h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 24px;
    letter-spacing: -2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    span {
      display: block;
      line-height: 48px;
      margin-bottom: 1px;
    }
  }

  p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  a.uh_btn {
    @include unihack-button(#FFFFFF, $unihack-yellow);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover {
      color: #303030;
    }
  }
}

#preregister {
  background: #606060;
  padding: 42px 0;

  h3 {
    color: $unihack-yellow;
    font-size: 2.5rem;
    letter-spacing: -2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0 0 5px;
  }

  p {
    color: $unihack-yellow;
    font-size: 1.3125rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 48px;
  }
}

#clubs {
  background: #f0f0f0;
  position: relative;

  .unihack-wrap {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
  }

  p {
    line-height: 28px;
    color: #363636;
    margin: 0 0 24px 0;
  }

  p:last-child {
    margin: 0;
  }

  h3 {
    text-indent: -999em;
    margin: 0 auto 24px auto;
  }

  a.uh_btn {
    @include unihack-button(#606060, #606060);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .wired {
    background: #700080;
    padding: 42px 15px;

    h3 {
      height: 40px;
      width: 266px;
      background: url("/img/wired-logo.png") left center no-repeat;
      background-size: 266px 40px;
    }

    p {
      color: white;
    }

    a {
      @include unihack-button(#fff, #fff);
      &:hover {
        color: #700080;
      }
    }
  }

  .suits {
    padding: 42px 15px;

    h3 {
      height: 40px;
      width: 107px;
      background: url("/img/suits-logo.png") left center no-repeat;
      background-size: 107px 40px;
    }
  }
}

#mc_embed_signup form {
  padding: 0;
  font-size: 1rem;
  font-family: Open Sans, sans-serif;

  .form-control {
    background: transparent;
    border: 1px solid #ababab;
    color: #f0f0f0;
    font-size: 1rem;
    font-family: Open Sans, sans-serif;
  }

  label {
    color: white;
  }

  .uh_btn {
    @include unihack-button($unihack-yellow, $unihack-yellow);
    background: $unihack-yellow;
    color: #505050;
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    letter-spacing: 0;
  }
}

#about {
  padding: 42px 0;

  p {
    font-size: 1.125rem;
    line-height: 32px;
    margin: 0 0 28px;
    font-weight: 300;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p.big {
    color: #888;
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 42px;
    line-height: 48px;
  }

  h3 {
    color: #888;
    font-size: 2.5rem;
    letter-spacing: -2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0 0 12px;
  }

  h4 {
    font-size: 1.125rem;
    margin: 36px 0 8px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  h4:first-child {
    margin-top: 6px;
  }

  a.social-btn {
    border-radius: 48px;
    font-size: 2rem;
    background: #e0e0e0;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    color: #909090;

    &:hover {
      color: white;
    }
  }

  a.social-btn.melb:hover {
    background: $unihack-yellow;
    color: #101010;
  }

  a.social-btn.syd:hover {
    background: $unihack-red;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  #landing-wrapper {
    height: 90vh;

    .landing-inner {
      height: 90vh;
      vertical-align: middle;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 24px;
      letter-spacing: -4px;

      span {
        line-height: 64px;
        margin-bottom: 3px;
      }
    }

    p {
      font-size: 2rem;
      letter-spacing: -1px;
      font-weight: 300;
      margin-bottom: 24px;
    }

    a.uh_btn {
      font-size: 1.3125rem;
    }
  }

  #preregister {
    h3 {
      font-size: 3rem;
      letter-spacing: -2px;
    }

    p {
      font-size: 1.5rem;
      letter-spacing: -1px;
    }
  }

  #clubs {
    .unihack-wrap {
      margin: 0 auto;
    }

    #wired-background {
      background: #700080;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 50vw;
      height: 100%;
    }

    .suits {
      padding-left: 30px;
    }

    .wired {
      padding-right: 30px;
    }
  }
}
