---
---
@import "variables";
@import "mixins";

#sponsorship-contact {
  background: #404040;

  p {
    color: #e0e0e0;
  }

  h3 {
    font-size: 2.25rem;
    color: $unihack-yellow;

    span {
      padding: 0;
      border: none;
    }
  }

  a.uh_btn {
    color: white;
    border-color: white;

    &:hover {
      color: #404040;
      background: $unihack-yellow;
      border-color: $unihack-yellow;
    }
  }

}

#previous-sponsors {
  img {
    margin-bottom: 28px;
  }
  padding-bottom: 6px;
}
