@import '../../styles/styles.scss';
@import '../../styles/typography/typography.scss';
.filter {
  & span {
    color: $secondary;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
  }

  & .buttons {
    display: inline-flex;
    margin-left: $base * 2;
    justify-content: space-between;

    & > button + * {
      margin-left: $base * 2;
    }
  }

  & button {
    background: $white;
    color: #6d767d;
    border: 2px solid;
    border-color: #6d767d;
    border-radius: 8px;
    padding: ($base/2 * 3 - 2px) ($base * 5);
    // @include body-bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: $base * 2;
    line-height: 18px;
    font-weight: bold;

    &:hover,
    &.selected {
      color: $white;
      background: $secondary;
      border-color: $secondary;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  @include sm {
    justify-content: flex-start;
  }
}
