@import '../../styles/styles.scss';

.team {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 24px;

  @include ksm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  @include sm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  @include md {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 32px 48px;
  }

  .images {
    border-radius: 50%;
    object-fit: contain;
    border: 5px solid $salmon;

    &:nth-of-type(4n + 2) {
      border: 2px solid $midori;
    }

    &:nth-of-type(4n + 3) {
      border: 2px solid $pacific;
    }

    &:nth-of-type(4n + 4) {
      border: 2px solid $primary;
    }
  }

  .content {
    h3 {
      margin-top: $base;
      font-size: 16px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
