@import '../../styles/styles.scss';

.city-banner {
  width: 100%;
  padding: $base * 5 $base * 6;
  @include heading-sizes;
  @include link-underline;

  &.left h2 {
    text-align: left;
  }

  &.right h2 {
    @include xsm {
      text-align: left;
    }

    @include md {
      text-align: right;
    }
  }

  &.Melbourne {
    background-color: $primary;
  }

  &.Sydney {
    background-color: $red;
    color: white;
  }

  h2.thin {
    font-weight: 300;
  }
}
