@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.winner {
  background-color: $white;
  border: 2px solid $secondary;
  box-shadow: 4px 4px 0px $secondary;
  padding: $base;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  color: $secondary;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    box-shadow: 3px 3px 0px $secondary;
    transform: translateX(1px) translateY(1px);
  }

  &:active {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px) translateY(4px);
  }

  &:visited {
    color: inherit;
  }

  &-stack {
    width: 100%;
  }

  .winner-img {
    display: none;

    @include lg {
      display: block;
    }

    width: 100%;
    height: 200px;
    object-fit: contain;
  }

  &-content {
    padding-left: $base;
    padding-right: $base;

    .winner-description {
      @include lg {
        height: 80px;
      }
    }
  }

  .prizes {
    padding-left: $base;
    padding-right: $base;
    padding-bottom: $base * 2;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .prize {
      display: flex;
    }

    .prize-name {
      background-color: $white;
      border: 2px solid $light_grey;
      padding: $base;
  
      display: inline-flex;
      align-items: center;
      width: 100%;
      
  
      img {
        padding-right: $base;
        height: $base * 4;
      }
    }
  }
}