@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.judging-section {
  background-color: #f0f0f0;
  padding: 32px 24px;
  color: rgba($secondary, 0.7);
  border-radius: 5px;

  @include md {
    padding: 32px;
  }

  h3, h4 {
    color: $secondary;
  }
 
  .criteria-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 32px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}