body.melbourne {
  #event-head {
    background: url("/img/landing/melbourne.jpg") center center no-repeat;
    background-size: cover;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $unihack-yellow-overlay;
      content: ' ';
    }
  }

  #register {
    background-color: $unihack-yellow;

    p, h3 {
      color: #404040;
    }

    a.uh_btn {
      color: #404040;
      border-color: #404040;

      &:hover {
        color: $unihack-yellow;
        background: #404040;
      }
    }
  }
}

body.sydney {
  #gl-head.docked {
    .unihack-banner-bg, .unihack-logo, .city-nav {
      background: $unihack-red;
    }
  }

  #event-head {
    background: url("/img/landing/sydney.jpg") center center no-repeat;
    background-size: cover;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $unihack-red-overlay;
      content: ' ';
    }

    a.uh_btn:hover {
      color: $unihack-red;
      border-color: white;
      background: white;
    }
  }

  #preregister {
    h3, p {
      color: $unihack-red;
    }

    #mc_embed_signup form .uh_btn {
      color: white;
      background: $unihack-red;
      border-color: $unihack-red;
    }
  }

  #register {
    background-color: $unihack-red;

    a.uh_btn {
      &:hover {
        color: $unihack-red;
        border-color: white;
        background: white;
      }
    }
  }
}
