#event-head {
  width: 100vw;
  max-width: 100%;
  height: 650px;
  background: url("/img/landing-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  .event-head-inner {
    height: 650px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 3;
    width: 100vw;
    max-width: 100%;
    padding: 36px 0;
  }

  h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 24px;
    letter-spacing: -2px;
    font-family: $font-title;
    font-weight: 500;

    span {
      display: block;
      line-height: 48px;
      margin-bottom: 1px;
    }
  }

  p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  a.uh_btn {
    @include unihack-button(#FFFFFF, $unihack-yellow);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;

    &:hover {
      color: #303030;
    }
  }
}

.event-block {
  padding: 42px 0;
  border-bottom: 1px solid #e0e0e0;

  h3 {
    color: #606060;
    font-size: 2.5rem;
    letter-spacing: -2px;
    font-family: $font-title;
    font-weight: 500;
    margin: 0 0 42px;

    &.big-parent {
      margin-bottom: 6px;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 0 28px;
    font-weight: 300;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p.big {
    color: #888;
    font-size: 1.75rem;
    letter-spacing: -1px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 42px;
    line-height: 2.75rem;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  #event-head {
    height: 90vh;

    .event-head-inner {
      height: 90vh;
      vertical-align: middle;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 24px;
      letter-spacing: -4px;

      span {
        line-height: 64px;
        margin-bottom: 3px;
      }
    }

    p {
      font-size: 2rem;
      letter-spacing: -1px;
      font-weight: 300;
      margin-bottom: 24px;
    }

    a.uh_btn {
      font-size: 1.3125rem;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {

}
