@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin unihack-button($color, $hover-color) {
  @include border-radius(5px);

  border: 2px solid $color;
  color: $color;
  padding: 6px 12px;
  line-height: 1;
  text-decoration: none;

  &:hover {
    background: $hover-color;
    border-color: $hover-color;
    color: white;
    text-decoration: none;
  }
}
