@import '../../styles/styles.scss';

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $base * 10;
  padding-bottom: $base * 20;

  &-container {
    @include page-margin;
    display: flex;

    h3 {
      margin-right: $base * 5;
      width: 250px;
    }
  }
}
