@import '../../styles/styles.scss';

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  img {
    @include xsm {
      width: 40%;
      padding: 16px;
    }

    @include ksm {
      width: 40%;
    }
  
    @include sm {
      width: 180px;
      padding: 16px 24px;
    }

    @include md {
      width: 220px;
    }
  }

}