@import '../../styles/styles.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 24px;

  @include ksm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  @include sm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  @include md {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 32px 48px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
}
