---
layout: main
title: About Us
page: about
---

<div id="about-info" class="section">
  <div class="wrap">
    <div class="about-boundary">
      <h3><span>Who are we?</span></h3>
      <p class="intro">
        We are Melbourne's premier student hackathon - run for students, by students.
      </p>
      <p>
        Inspired by the student hackathons in the United States and Europe, UNIHACK was created in 2014
        by two university students from Melbourne's two largest universities &mdash; Terence Huynh from
        Monash University and Matthew Rossi from the University of Melbourne. Since the very first competition
        at York Butter Factory, UNIHACK has quickly become one of the go-to hackathons for university students
        nationwide.
      </p>
      <p>
        The main purpose of UNIHACK is to showcase the best and talented students currently residing in our
        universities &mdash; the very people who will become the next generation of developers, thinkers, and
        startup entrepreneurs.
      </p>
      <p>
        Teams have 24 hours to design and build something awesome. It can be anything - a website, a mobile
        application, a video game, or even something hardware. The important thing is that it needs to work
        when it is presented to the judges.
      </p>
      <p>
        Whether you are an avid programmer or a first-timer, UNIHACK welcomes all types of "hackers"
        regardless of skill level.
      </p>
      <p>
        UNIHACK is organised by WIRED Monash, the IT student society at Monash University Clayton.
      </p>
    </div>
  </div>
</div>

<div id="about-wired" class="section">
  <div class="wrap">
    <div class="about-boundary">
      <h3><span>WIRED Monash</span></h3>
      <p class="intro">
        WIRED Monash is the student society for IT students and those who are curious about all things
         digital at Monash University Clayton.
      </p>
      <p>
        We aim to provide a relaxed, social atmosphere where students can meet others who share their
        love for everything digital. Our community is one where we can share our opinions on the latest
        technology, and collaborate on projects and competitions. WIRED Monash is a registered academic
        club with Monash Clubs and Societies.
      </p>
      <p class="btn-center">
        <a href="http://wired.org.au" class="btn">Find out more...</a>
      </p>
    </div>
  </div>
</div>

<div id="about-team" class="section">
  <div class="wrap">
    <h3><span>The Team</span></h3>

    <div class="row">

      {% for person in site.data.team %}
      {% if person.past != true %}
      <div class="team">
        {% if person.img %}
        <img src="{{ person.img }}" alt="{{ person.name }}" class="img-rounded" />
        {% endif %}
        <p class="name">{{ person.name }}</p>
        <p class="role">{{ person.position }}</p>
        <p class="subrole">{{ person.subposition }}</p>
        {% if person.twitter %}
        <p class="twitter">
          <a href="http://twitter.com/{{ person.twitter }}" class="btn">
            <i class="fa fa-twitter"></i> {{ person.twitter }}
          </a>
        </p>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

<div id="about-diversity" class="section">
  <div class="wrap">
    <div class="about-boundary">
      <h3><span>Diversity Commitment</span></h3>
      <p>
        The organisers of UNIHACK are committed in increasing the diversity of UNIHACK competitors. We
        will be collaborating with Women in ICT and Engineering groups across Australia to help promote
        the event. We will also collaborate with ICT and Engineering groups that represent LGBT students
        to ensure they are also represented at UNIHACK.
      </p>
      <p>
        We are also committed in producing a harassment-free experience for everyone, regardless of
        gender, age, sexual orientation, disability and religion. All persons involved in UNIHACK are
        required to comply with the terms set out in the Hack Code of Conduct this year &mdash; including
        attendees, sponsors, partners, volunteers and staff.
      </p>
      <p class="btn-center">
        <a href="http://hackcodeofconduct.org/unihack" class="btn">Read the Hack Code of Conduct</a>
      </p>
    </div>
  </div>
</div>
