---
layout: main
title: UNIHACK Mini &mdash; April 9-10
title-override: true
page: unihack-mini
subpage: unihack-mini-2016
og_description: "UNIHACK Mini - Monash University - April 9-10"
og_image: /img/unihack-mini/unihack-mini-og.png
google-maps: unihack-mini
---

{% assign event = site.data.events[page.subpage] %}

<div id="mini-hero">
  <div id="mini-wrap">
    <div class="wrap">
      <h2 class="event-logo">
        <a href="/mini/">UNIHACK Mini</a>
      </h2>
      <p class="event-message">
        Calling all Monash students, UNIHACK Mini is coming!
      </p>
      <p class="event-message light">
        April 9-10
      </p>
      <p class="buy-now">
        <a href="http://unihackmini.eventbrite.com.au/" class="btn">Buy Tickets Now!</a>
      </p>
    </div>
  </div>
</div>

<div id="head-bg-mobile" class="section only-mob">
  <div class="wrap">
    <p class="event-message">
      Calling all Monash students, UNIHACK Mini is coming!
    </p>
    <p class="event-message light">
      April 9-10
    </p>
    <p class="buy-now">
      <a href="#" class="btn">Buy Tickets Now!</a>
    </p>
  </div>
</div>

<div id="about-info" class="section">
  <div class="wrap">
    <div class="text-boundary">
      <h3><span>About Us</span></h3>
      <p class="intro">
        WIRED Monash and UNIHACK is pleased to announce that we're launching
        another hackathon - UNIHACK Mini!
      </p>
      <p>
        UNIHACK Mini is our hackathon for first-time hackers, and is only open
        to Monash University students.
      </p>
      <p>
        You might ask yourself, what is a hackathon? Other than spending time
        with your mates making an app/website/game/whatever, it's an event where
        you can practice your coding skills while being mentored by the best of
        the best.
      </p>
      <p>
        Teams of four students have 27 hours to create a prototype of their
        idea, and get feedback from our mentors before pitching them to our
        panel of judges.
      </p>
      <p>
        Coders, designers, thinkers - whatever your talent is, regardless of
        skill level, come and participate in UNIHACK Mini!
      </p>
    </div>
  </div>
</div>

<div id="event-prizes" class="section event-section">
  <div class="wrap">
    <h3><span>Prizes</span></h3>
    <div class="row">
      <div class="prize">
        <div class="prize-card top first">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-trophy"></i></span>
              First Place
            </h4>
            <p>Raspberry Pi for every member</p>
            <p>Future Assembly Tickets</p>
            <p>Automatic spot in UNIHACK 2016</p>
          </div>
        </div>
      </div>
      <div class="prize">
        <div class="prize-card top second">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Second Place
            </h4>
            <p>LIFX Colour 1000 for every member</p>
          </div>
        </div>
      </div>
      <div class="prize">
        <div class="prize-card top third">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Third Place
            </h4>
            <p>$50 JB Hi-Fi Gift Card for every member</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include judges.html %}

{% include criteria.html %}

<div id="event-schedule" class="section event-section">
  <div class="wrap">
    <h3><span>Schedule</span></h3>
    <div class="row">
      <div class="day">
        <h4>Saturday April 9</h4>
        <table class="sch-table">
          <tr>
            <th class="sch-time">Time</th>
            <th class="sch-activity">Activity</th>
          </tr>
          <tr>
            <td class="sch-time">9:00am</th>
            <td class="sch-activity">
              Registration
              <span>at C1 Lecture Theatre</span>
            </td>
          </tr>
          <tr>
            <td class="sch-time">9:45am</th>
            <td class="sch-activity">
              Opening Ceremony
              <span>at C1 Lecture Theatre</span>
            </td>
          </tr>
          <tr>
            <td class="sch-time">10:00am</th>
            <td class="sch-activity">
              Start Hacking!
            </td>
          </tr>
          <tr>
            <td class="sch-time">1:00pm</th>
            <td class="sch-activity">
              Lunch
            </td>
          </tr>
          <tr>
            <td class="sch-time">2:00pm</th>
            <td class="sch-activity">
              Hacking continues!
            </td>
          </tr>
          <tr>
            <td class="sch-time">6:00pm</th>
            <td class="sch-activity">
              Dinner
            </td>
          </tr>
          <tr>
            <td class="sch-time">8:00pm</th>
            <td class="sch-activity">
              End of Day One, hacking continues at home
            </td>
          </tr>
        </table>
      </div>
      <div class="day">
        <h4>Sunday April 10</h4>
        <table class="sch-table">
          <tr>
            <th class="sch-time">Time</th>
            <th class="sch-activity">Activity</th>
          </tr>
          <tr>
            <td class="sch-time">10:00am</th>
            <td class="sch-activity">
              Doors reopen, hacking continues on venue
            </td>
          </tr>
          <tr>
            <td class="sch-time">1:00pm</th>
            <td class="sch-activity">
              Hacking stops, Lunch
            </td>
          </tr>
          <tr>
            <td class="sch-time">2:00pm</th>
            <td class="sch-activity">
              Presentations
              <span>at C1 Lecture Theatre</span>
            </td>
          </tr>
          <tr>
            <td class="sch-time">4:45pm*</th>
            <td class="sch-activity">
              Winners announced
              <span>at C1 Lecture Theatre</span>
            </td>
          </tr>
          <tr>
            <td class="sch-time">5:00pm*</th>
            <td class="sch-activity">
              Event finishes!
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="mini-location" class="section">
  <div class="wrap">
    <div class="location-address-side">
      <h3><span>Location</span></h3>
      <div class="address-block">
        <p class="address">Labs 143-146</p>
        <p class="address">14 Rainforest Walk</p>
        <p class="address">Monash University</p>
        <p class="address">Clayton Campus</p>
      </div>
      <div class="transport-block">
        <h4>How do I enter the building?</h4>
        <p>
          You will need to enter from the doors near the G13 and G14 computer labs.
        </p>

      </div>
      <div class="transport-block">
        <h4>How do I get there?</h4>
        <p>
          The best way to get to Monash University Clayton is to take a train to
          Huntingdale Station and take the 900 or 630 bus.
        </p>
        <p>
          Alternatively, you can take a 631, 691, 703, 733, 737, 802, 804, 862, or
          900 bus. Please note that the 601 shuttle bus does not run on the weekend.
        </p>
      </div>
      <div class="transport-block">
        <h4>Parking</h4>
        <p>
          Parking is free during the weekend. The nearest parking area is the N1
          Engineering carpark on 10 Research Way.
        </p>
      </div>
    </div>
    <div class="location-map-side" id="unihack-mini-map"></div>
  </div>
</div>

{% include sponsors-partners.html %}

<div id="event-faqs" class="section event-section">
  <div class="wrap">
    <h3><span>FAQ</span></h3>
    <div class="row">
      <div class="question">
        <h4>Are tickets refundable?</h4>
        <p>
          No, tickets are not refundable. However, if you are unable to make it,
          you are free to sell your ticket on the <a href="http://facebook.com/group/unihackers">UNIHACKers</a>
          group or the Facebook event page.
        </p>
      </div>
      <div class="question">
        <h4>Do I have to stay overnight?</h4>
        <p>
          UNIHACK Mini will not have an overnight component. You will be free to work on your prototype
          from home between Saturday night and Sunday morning.
        </p>
      </div>
      <div class="question">
        <h4>Who is eligible to compete?</h4>
        <p>
          UNIHACK Mini is open any enrolled student at Monash University studying in an Australian campus.
          Yes, that includes students from Caulfield, Berwick, Parkville and Peninsula.
        </p>
      </div>
      <div class="question">
        <h4>What is the max team size?</h4>
        <p>
          You may have up to four members in your team.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="question">
        <h4>Are we allowed to work on our idea beforehand?</h4>
        <p>
          You are not allowed to start any development work on your prototype before UNIHACK Mini. However, you can research any
          ideas and concepts before the competition begins.
        </p>
      </div>
      <div class="question">
        <h4>Are we allowed to work on existing projects?</h4>
        <p>
          No, you will not be allowed to work on existing projects at UNIHACK Mini. We want to see new ideas that you and your
          team can come up with in 27 hours. However, you can use your own projects in your idea if it is open sourced.
        </p>
      </div>
      <div class="question">
        <h4>I have never been to a hackathon. Is that OK?</h4>
        <p>
          Certainly! Hackathons are a great way to learn new skills, and there will be mentors on-site
          to help you along the way to help you build the best possible idea within 27 hours.
        </p>
      </div>
      <div class="question">
        <h4>Do you own my code?</h4>
        <p>
          Any intellectual property (e.g. code, images, audio) that you and/or your team create during
          UNIHACK Mini belongs to you and/or your team.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="question">
        <h4>Is there a Code of Conduct?</h4>
        <p>
          Yes, there is a code of conduct. UNIHACK Mini follows "The Hack Code of Conduct". This applies to all attendees,
          sponsors, partners, volunteers and staff.
          You can view the code of conduct <a href="http://hackcodeofconduct.org/unihack">here</a>.
        </p>
      </div>
      <div class="question">
        <h4>Can I bring alcohol or smoke?</h4>
        <p>
          No. The event is a strictly non-alcoholic and non-smoking event.
        </p>
      </div>
      <div class="question">
        <h4>What should I bring?</h4>
        <p>
          A laptop, mobile phone, chargers, pens, paper... and yourself :)
        </p>
      </div>
    </div>

  </div>
</div>

<div id="mini-callout" class="section">
  <div class="wrap">
    <div class="text-boundary">
      <h3>Like and follow us</h3>
      <p>
        Find us on Facebook, and follow us on Twitter
      </p>
      <p class="btn-center">
        <a href="http://facebook.com/unihackmelb" class="btn"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="http://twitter.com/unihackmelb" class="btn"><i class="fa fa-twitter"></i> Twitter</a>
      </p>
    </div>
  </div>
</div>
