@import '../../styles/colours.scss';
@import '../../styles/spacing.scss';
@import '../../styles/styles.scss';

.brand-hero {
  display: flex;
  flex-direction: column-reverse;
  height: 500px;
  color: $secondary;

  @include md {
    height: 600px;
  }

  &-content {
    @include page-margin;
    text-align: left;

    @include md {
      text-align: center;
    }
  }

  p {
    margin: 0;
  }

  p.title {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing:  -1px;

    @include md {
      font-size: 36px;
      line-height: 48px;
    }

    span {
      font-weight: 300;
      display: block;
    }
  }

  p.subtitle {
    margin: $base 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing:  -1px;

    @include md {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      margin: $base * 2 0;  
    }
  }

  .actions > a {
    display: flex;
    margin: $base 0;

    @include md {
      margin: 0 $base;
      font-size: 21px;
      font-weight: 600;
      letter-spacing: -1px;
      height: 64px;
      display: inline-flex;
      transition: all 0.1s;
    }
  }
}