@import '../../styles/colours.scss';
@import '../../styles/spacing.scss';
@import '../../styles/styles.scss';

.brand-hero,
.stream-hero {
  background: linear-gradient(to top, #feac5e, #c779d0, #4bc0c8); 

  @media (min-width: 1400px) {
    margin: 0 100px;
    border-radius: 0px 0px 4px 4px;
  }

  &-content {
    @include page-margin;
    text-align: center;
    z-index: 1;
    display: flex;
    align-content: center;
    align-items: center;

    > div {
      width: 100%;
    }
  }

  h1 {
    mask: url('../../public/images/events/2025-logo.svg') center center no-repeat;
    mask-size: contain;
    background-color: $white;
    height: 60px;
    text-indent: -999em;
    display: block;
    padding: 0;
    margin: 0 0 24px;

    @include md {
      height: 120px;
    }
  }

  p {
    margin: 0;
    color: $white;
  }

  p.title {
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing:  -1px;

    @include md {
      margin: 0;
      font-size: 48px;
      line-height: 54px;
    }
  }

  p.time {
    margin: 0;
    font-size: 48px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing:  -1px;

    @include md {
      margin: 0;
      font-size: 72px;
      line-height: 84px;
    }
  }

  p.subtitle {
    margin: $base * 2 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;

    @include md {
      margin: $base * 2 0 0;
      display: block;
      font-size: 28px;
      line-height: 32px;
      font-weight: 300;
    }
  }

  .actions {
    padding: 0;
    margin: $base * 4 0 0;
  }

  .actions > a {
    display: flex;
    margin: $base 0;

    @include md {
      margin: 0 $base;
      font-size: 18px;
      font-weight: 600;
      height: 64px;
      display: inline-flex;
      transition: all 0.1s;
    }

    &:hover {
      color: #C779D0 !important;
    }
  }
}

.stream-hero {
  padding: 48px 0 118px;

  .stream {
    @include page-margin;
    background-color: $secondary;
    margin-top: 48px;
    height: 240px;

    @include md {
      height: 600px;
      margin-top: 48px;
      overflow: hidden;
    }
  }

  h1 {
   height: 60px;
   margin: 0;
  }
}

.brand-hero {
  &-content {
    padding: 48px 0 100px;
    @include md {
      min-height: 600px;
      height: 80vh;
    }
  }
}
