@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.event-page-workshops {
  margin-bottom: 24px;
  padding: 32px 0;
  position: relative;

  .workshop-grid {
    margin-top: $base * 4;
    display: grid;
    grid-template-columns: auto;
    gap: $space-medium $space-medium;
    
    @include lg {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $space-xlarge $space-medium;
    }
  }
}