@import '../../styles/styles.scss';

.faqs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $base * 7;
  padding-bottom: $base * 7;
  

  &-content {
    @include page-margin;
    color: $secondary;
  }

  &-questions-grid {
    display: grid;
    grid-column-gap: $base * 6;
    grid-row-gap: $base * 4;
    grid-template-columns: 1fr;

    @include sm {
      grid-template-columns: 1fr 1fr;
    }

    @include md {
      grid-template-columns: 1fr 1fr 1fr;
    }


  }
}
