@import '../../../styles/styles.scss';

.perk {
  display: flex;
  border-radius: 0px;

  @include xsm {
    flex-direction: column;
  }

  @include md {
    display: inline-table;
    max-width: 464px;
    max-height: 608px;
    margin-right: $base * 8;
  }

  .perk-img {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;

    }
  }

  .perk-desc {
    padding: $base * 3;
    color: $secondary;
    text-align: left;
    white-space: normal;
  }
}