@import '../../../styles/styles.scss';

.perk {
  display: flex;

  @include xsm {
    flex-direction: column;
  }

  @include md {
    flex-direction: row;
  }

  .perk-img, .perk-desc {
    @include md {
      flex: 1 1 50%;
    }
  }

  &.alt {
    @include md {
      flex-direction: row-reverse;
    }

    .perk-img {
      img {
        @include xsm {
          border-radius: 5px 5px 0 0;
        }
        
        @include md {
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .perk-img {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;

      @include xsm {
        border-radius: 5px 5px 0 0;
      }
      
      @include md {
        border-radius: 5px 0 0 5px;
      }

      
    }
  }

  .perk-desc {
    padding: $base * 3;
    color: $grey;

    h3 {
      margin-bottom: $base * 2;
    }

    p {
      line-height: 1.5;
    }

    li {
      line-height: 1.5
    }
  }
}