@import '../../../styles/home.css';
@reference "tailwindcss";

.section {
  @apply home-section;
  h2 {
    background: linear-gradient(90deg, #0a99f2, #19cf50);
    background-clip: text;
    color: transparent;
    max-width: 640px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-top: 48px;

  @variant md {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridItem {
    border: 5px solid #0a99f2;
    padding: 24px;
    border-radius: 12px;

    h3 {
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 12px;
      letter-spacing: 2px;
      color: #0a99f2;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
    }

    p:last-child {
      margin-bottom: 0;
    }

    > a {
      font-size: 12px;
    }
  }
}
