<div class="event-block {{ include.css }}" id="prizes">
  <div class="unihack-wrap container-fluid">
    <h3>Prizes</h3>

    <div class="row justify-content-center">
      <div class="prize prize-top-outer col-md-6">
        <div class="prize-card top first">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-trophy"></i></span>
              First Place
            </h4>
            <p><span>$4000 in cash</span></p>
            <p>Amazon Echo Dot for each team member</p>
            <p>One year of Wolfram|One Personal Edition and Wolfram|Alpha Pro</p>
            <p>DDD Melbourne ticket for every member of your team</p>
            <p>Sketch App licence for every member of your team</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top second">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Second Place
            </h4>
            <p><span>$2000 in cash</span></p>
            <p>Cygnett Power Banks for each team member</p>
            <p>One year of Wolfram|One Personal Edition and Wolfram|Alpha Pro</p>
          </div>
        </div>
      </div>
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top third">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Third Place
            </h4>
            <p><span>$1000 in cash</span></p>
            <p>One year of Wolfram|One Personal Edition and Wolfram|Alpha Pro</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Design</h4>
            <p class="brief">Awarded to project with a good-looking and very usable interface design.</p>
            <p>Adobe Creative Cloud Subscription for each team member</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Most Creative Idea</h4>
            <p class="brief">Awarded to the project with the most original idea or reinvention.</p>
            <p>Adobe Creative Cloud Subscription for each team member</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Pitch</h4>
            <p class="brief">Awarded to project who presented their project the best.</p>
            <p>JBL Go Speakers for each team member</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best IoT/Hardware Hack</h4>
            <p class="brief">Awarded to the project that presents the best idea featuring hardware or the internet of things.</p>
            <p>$1500 in cash</p>
            <p>One year of Wolfram|One Personal Edition and Wolfram|Alpha Pro</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/bosch.png" alt="Bosch" class="uh-sponsor-logo"/>
            <h4>From Things to Internet of Things Award</h4>
            <p class="brief">Awarded to the best IoT hack that could be applied in industry to increase output or efficiency. This could be related to smart agriculture, connected infrastructure, connected mobility, smart cities etc.</p>
            <p>Bosch Heated Jackets for each team member</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/wade.png" alt="Wade Institue" class="uh-sponsor-logo"/>
            <h4>Best Startup Potential</h4>
            <p class="brief">Awarded to the team with the best idea that can be turned into a startup.</p>
            <p>A place in Wade Institute's Startup Sprint weekend</p>
            <p class="small-print">Startup Sprint is a fun weekend to road test your entrepreneurial game! Roll up your sleeves and get a taste for the fundamental steps of building a startup. Learn how to validate your business ideas and meet inspiring experts, mentors and like-minded entrepreneurs-to-be in a supportive and fast-paced environment.</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/xero.png" alt="Xero" class="uh-sponsor-logo"/>
            <h4>Xero #beautiful Award</h4>
            <p class="brief">Awarded to the team that align with Xero's #beautiful values (they are #human, #challenge, #champion, #ownership and, of course, #beautiful).</p>
            <p>To be announced</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/ittybittyapps.png" alt="ittybittyapps" class="uh-sponsor-logo"/>
            <h4>Best Mobile Experience</h4>
            <p class="brief">Awarded to the app that can produce the best user design and experience on mobile devices!</p>
            <p>Anker 20100mAh 2-Port Portable Power Bank</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/nab-labs.png" alt="NAB Labs" class="uh-sponsor-logo"/>
            <h4>NAB Labs Pitch Experience</h4>
            <p class="brief">This prize will give the chosen team a chance to come to NAB Labs and take part in our Innovation Challenge. The team will get to pitch to a panel of senior judges, and if successful will be able to experiment with Labs on the initiative.</p>
            <p>A spot in NAB Lab's Innovation Challenge</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/tech-domains.png" alt="Get Tech" class="uh-sponsor-logo"/>
            <h4>Best Hack on a .TECH Domain</h4>
            <p class="brief">Awarded to the best hack/website submitted on a .TECH domain</p>
            <p>$250 Amazon Gift Vouchers</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/hex.png" alt="Hacker Exchange" class="uh-sponsor-logo"/>
            <h4>All Star Award</h4>
            <p class="brief">Awarded to the team that shows an insatiable curiosity and an entrepreneurial drive.</p>
            <p>LinkedIn profile review (worth $400) for every team member</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Social Media Prize</h4>
            <p class="brief">Send out the tweet, message, photo or video that sums up #UNIHACK2018.</p>
            <p>To be announced on the day</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Meme</h4>
            <p class="brief">This is obvious. Make the best meme during UNIHACK 2018.</p>
            <p>Totally a secret.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-12">
        <p class="more">More to be announced soon</p>
      </div>
    </div> -->


  </div>
</div>
