<div class="event-block {{ include.css }}" id="prizes">
  <div class="unihack-wrap container-fluid">
    <h3>Prizes</h3>

    <div class="row justify-content-center">
      <div class="prize prize-top-outer col-md-6">
        <div class="prize-card top first">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-trophy"></i></span>
              First Place
            </h4>
            <p><span>$4000 in cash</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top second">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Second Place
            </h4>
            <p><span>$2000 in cash</span></p>
          </div>
        </div>
      </div>
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top third">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Third Place
            </h4>
            <p><span>$1000 in cash</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best IoT/Hardware Hack</h4>
            <p class="brief">Awarded to the project that presents the best idea featuring hardware or the internet of things.</p>
            <p>$1500 in cash</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Design</h4>
            <p class="brief">Awarded to project with a good-looking and very usable interface design.</p>
            <p>To be announced</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Most Creative Idea</h4>
            <p class="brief">Awarded to the project with the most original idea or reinvention.</p>
            <p>To be announced</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Social Media Prize</h4>
            <p class="brief">Send out the tweet, message, photo or video that sums up #UNIHACK2018.</p>
            <p>To be announced on the day</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-6">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Meme</h4>
            <p class="brief">This is obvious. Make the best meme during UNIHACK 2018.</p>
            <p>Totally a secret.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="more">More to be announced soon</p>
      </div>
    </div>


  </div>
</div>
