@import '../../../styles/styles.scss';

$past-grey: #AFAFAF;

.schedule-item {
  @include body-size;
  display: flex;
  align-items: center;
  color: $past-grey;
  padding: $base 0;
  border-bottom: 1px solid $past-grey;
  position: relative;

  &.active {
    color: $yellow;
  }

  &.future {
    color: $light-grey;
  }

  &.active, &.future {
    .schedule-item-indicator {
      border: 4px solid $yellow;
    }

    .schedule-item-indicator-line {
      background: $yellow;
    }
  }

  td {
    padding: 0;
  }

  &-indicator {
    border-radius: 50%;
    border: 4px solid $past-grey;
    width: $base * 3;
    height: $base * 3;
    position: relative;
    flex-shrink: 0;
    
    @include xsm {
      margin-right: $base;
    }

    @include sm {
      margin-right: $base * 3;
    }
  }

  &-indicator-line {
    position: absolute;
    top: 31px;
    left: 1px;
    width: 14px;
    height: 19px;
    background: $past-grey;
    z-index: 0;
    margin: 0 4px;
    border-left: 4px solid $grey;
    border-right: 4px solid $grey;
  }

  &:last-of-type {
    .schedule-item-indicator-line {
      display: none;
    }
  }

  &-time {
    font-weight: 500;
    flex-shrink: 0;

    @include xsm {
      margin-right: $base;
      flex-basis: 30%;
    }

    @include sm {
      margin-right: $base * 3;
      flex-basis: 20%;
    }
  }

}