@import '../../../styles/styles.scss';

$past-grey: #6c6c6c;

.schedule-item {
  display: flex;
  position: relative;
  align-self: flex-start;
  color: rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
  position: relative;
  transition: color 0.5s ease;
  padding: $base * 2 0;

  &:before {
    content: '';
    width: $base / 2;
    top: 0;
    bottom: 0;
    left: 10px;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;
  }

  .schedule-item-indicator-dot {
    position: relative;
    z-index: 99;
    background: $electric-blue;
    width: $base * 3;
    height: $base * 3;
    border-radius: 50%;
    margin-right: $base * 2;
    border: 4px solid rgba(255,255,255,0.4);
    flex-shrink: 0;
    transition: all 0.5s ease;
  }

  &:last-child {
    border-bottom: 0px solid;
    &:before {
      bottom: 50%;
    }
  }

  &:first-child {
    &:before {
      top: $base * 2;
    }
  }

  .schedule-item-time {
    width: 100px;
  }

  .schedule-item-title {
    flex: 1;
  }

  &.active,
  &.future {
    color: white;

    &:before {
      background: white;
    }

    .schedule-item-indicator-dot {
      border: 4px solid white;
    }
  }
}
