@import '../../styles/styles.scss';

.privacy-policy {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $base * 7;
  padding-bottom: $base * 7;
  background-color: white;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    align-self: flex-start;
  }

  h2 {
    margin-top: $base * 3;
  }
  
  a {
    @include link;
    text-decoration: underline;
  }
}