@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.event-page-sponsors {
  color: $secondary;
  max-width: 600px;
  margin: 0 auto 64px auto;
  
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
  }
  
  .sponsor-row {
    h3 {
      text-align:  center;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;;
    }
    
    .sponsor-row-logos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 8px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .company-logo {
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      padding: 8px 16px;
      margin: 0;
    }

    .company-logo img {
      display: block;
      margin: 0 auto;
      width: 100px;
    }

    &.platinum, &.diamond {
      .sponsor-row-logos {
        grid-template-columns: 1fr;
      }  
      .company-logo img {
        width: 170px;
      }  
    }

    &.gold {
      .sponsor-row-logos {
        grid-template-columns: 1fr 1fr;
      }  
      .company-logo img {
        width: 150px;
      }  
    }

    /** This should always be the last rule evaluated for CSS */
    &.isSolo {
      .sponsor-row-logos {
        grid-template-columns: 1fr;
      }  
    }
  }
}
