@import '../../../styles/styles.scss';
@import '../../../styles/typography/typography.scss';

.get-involved {
  margin: 0 $base * 2 $base * 3;  
  
  @include md {
    max-width: 1100px;
    margin: 0 auto $base * 3;  
  }

  h2 {
    margin: 0 0 $base * 2;
    @include md {
      text-align: center;
    }
  }

  > p {
    font-weight: 300;
    margin: 0 0 $base * 4;
    @include md {
      font-size: 21px;
      line-height: 28px;
      text-align: center;
    }
  }

  a {
    @include link;
    font-weight: 600;
  }
}
