@import '../../styles/styles.scss';

@mixin button-base {
  height: 40px;
  border-radius: 4px;
  font-family: $fonts;
  font-size: 16px;
  line-height: 16px;
  padding: $base $base * 2;

  transition: all .2s;
}

@mixin button-styles($color) {
  border: 1px solid $color;
  background-color: $color;

  &:hover {
    background-color: lighten($color, 7%);
    cursor: pointer;
  }

  &:focus, &:active {
    background-color: darken($color, 7%);
  }
}

button.btn {
  @include button-base;

  &.primary {
    @include button-styles($yellow);
    color: black;
  }

  &.secondary {
    @include button-styles($grey);
    color: white;
  }
}