@import '../../../styles/styles.scss';

.event-checklist {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 3px solid rgba($electric-blue, 0.7);
  padding: $base * 4;

  h2 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 $base * 2;
    font-weight: 600;
    letter-spacing: -1px;
    color: $electric-blue;

    @include lg {
      font-size: 28px;
      line-height: 36px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: $base * 2 0;
    border-bottom: 1px solid rgba($electric-blue, 0.3);
    margin: 0;
    display: flex;
    align-items: center;

    > a {
      width: 140px;
      border-color: $electric-blue !important;
      color: $electric-blue !important;

      &:hover {
        color: white !important;
        background-color: $electric-blue !important;
      }
    }

    &:first-child {
      padding: 0 0 $base * 2 0;
    }

    &:last-child {
      padding: $base * 2 0 0 0;
      border-bottom: none;
    }
  }

  .checklist-content {
    flex: 1;
    margin-right: $base * 4;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 2px 0;
  }

  p {
    color: $secondary;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }

}
