@import '../../../styles/styles.scss';

.event-page-schedule {
  background-color: $secondary;

  &-content {
    @include page-margin;
    @include heading-sizes;
    display: flex;
    flex-direction: column;
    padding-top: $base * 6;
    padding-bottom: $base * 6;

    .section-title {
      color: $light_grey;
    }

    .subtitle {
      @include subtitle;
      color: $light_grey;
    }

    .schedule-main {
      display: flex;

      @include xsm {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }

      .schedule-map {
        img {
          width: 100%;
          height: auto;
        }
        
        @include xsm {
          padding-top: $base * 3;
          width: 100%;
        }
        
        @include md {
          padding-left: $base * 5;
          width: 50%;
        }
      }
    }

    .schedule-controller {
      @include xsm {
        width: 100%;
      }

      @include md {
        width: 50%;
      }

      .day-selectors {
        display: flex;
        margin-bottom: $base;
  
        .day-selector {
          @include heading-sizes;
          display: flex;
          align-self: flex-start;
          background-color: transparent;
          border: none;
          color: $light_grey;
          padding: 0 ($base * 2);
          -webkit-appearance: button;
          cursor: pointer;
          outline: none;
          margin-right: $base * 3;
  
          &:hover {
            color: $primary;
          }
  
          &.active, &:focus {
            color: $primary;
            border-bottom: 2px solid $primary;
          }
        }
      }
    }
  }
}