@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.event-page-schedule {
  background-color: $secondary;
  padding-bottom: $space-xxlarge;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;

    .section-title {
      color: $light_grey;
    }

    .subtitle {
      color: $light_grey;
    }

    .schedule-main {
      display: flex;

      @include xsm {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }

      .schedule-map {
        img {
          width: 100%;
          height: auto;
        }
        
        @include xsm {
          padding-top: $base * 3;
          width: 100%;
        }
        
        @include md {
          padding-left: $base * 5;
          width: 50%;
        }
      }
    }

    .schedule-controller {
      @include xsm {
        width: 100%;
      }

      @include md {
        width: 50%;
      }

      .day-selectors {
        display: flex;
  
        .day-selector {
          display: flex;
          align-self: flex-start;
          background-color: transparent;
          border: none;
          color: $light_grey;
          padding: 0 ($base);
          font-family: inherit;
          -webkit-appearance: button;
          cursor: pointer;
          outline: none;
          margin-right: $space-large;
  
          &:hover {
            color: $primary;
          }
  
          &.active, &:focus {
            color: $primary;
            border-bottom: 2px solid $primary;
          }
        }
      }
    }
  }
}