@import '../../styles/styles.scss';

.get-involved {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding-top: $base * 5;
  padding-bottom: $base * 5;

  &-content {
    @include page-margin;
    @include heading-sizes;
    color: $grey;
    
    h2 {
      margin-bottom: $base * 2;
    }

    /*
    * PACKAGES TABLE
    */

    /* mobile package selector */
    .pkg-mobile-selector {
      min-height: 4rem;
      display: flex;
      align-items: center;
    }

    .pkg-mobile-selector__container {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 auto;
    }

    .pkg-mobile-selector.sticky .pkg-mobile-selector__container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: #f3f3f3;
      border-bottom: 1px solid #ddd;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      z-index: 100;
    }

    .pkg-mobile-selector__button {
      flex: 1 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      padding: 5px;
      background: #fff;
      border: 1px solid #ddd;
      border-right: none;
      min-height: calc(2rem + 10px);
      -webkit-appearance: button;
      overflow: visible;
      margin: 0;
      cursor: pointer;
    }
    .pkg-mobile-selector__button:hover {
      background: #f0f0f0;
    }
    .pkg-mobile-selector__button:active {
      background: #e6e6e6;
    }

    .pkg-container[data-package="com"]
      .pkg-mobile-selector__button[data-package="com"],
    .pkg-container[data-package="silver"]
      .pkg-mobile-selector__button[data-package="silver"],
    .pkg-container[data-package="gold"]
      .pkg-mobile-selector__button[data-package="gold"],
    .pkg-container[data-package="plat"]
      .pkg-mobile-selector__button[data-package="plat"],
    .pkg-container[data-package="hyper"]
      .pkg-mobile-selector__button[data-package="hyper"] {
      background: #e6e6e6;
    }

    .pkg-mobile-selector__button:first-child {
      border-radius: 4px 0 0 4px;
    }

    .pkg-mobile-selector__button:last-child {
      border-right: 1px solid #ddd;
      border-radius: 0 4px 4px 0;
    }

    /* table general structure */
    .pkg-table {
      display: flex;
      flex-flow: column nowrap;
      word-break: break-word;
      margin-bottom: 20px;
    }

    .pkg-table.sticky-selector {
      margin-top: 3rem;
    }

    .pkg-table__row,
    .pkg-table__header {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px #ccc solid;
    }

    .pkg-table__row:last-child {
      border: none;
    }

    .pkg-table__content-cell,
    .pkg-table__cell {
      padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pkg-table__content-cell {
      flex: 10 0 40px;
    }

    .pkg-table__cell {
      flex: 9 1 1px;
      text-align: center;
      font-weight: 700;
      margin: 10px;
    }

    .pkg-table__cell button {
      font-size: 16px;
    }

    /* table header section */
    .pkg-table__header .pkg-table__cell {
      flex-flow: column nowrap;
      justify-content: center;
      border-radius: 10px;
    }

    .pkg-table__title-sup {
      font-style: italic;
      line-height: 1;
      height: 1em;
      margin-top: -8px;
    }

    .pkg-table__title {
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    .pkg-table__price:not(:last-child) {
      margin-bottom: 5px;
    }

    .pkg-table__max {
      font-weight: normal;
      font-size: 0.8em;
      height: 1.2em;
    }

    /* perk description section (left column) */
    .pkg-table__content-cell {
      justify-content: flex-start;
    }

    .pkg-table__perk-desc {
      flex: 1 1 auto;
    }

    .pkg-table__more-info {
      position: relative;
      height: 20px;
      flex: 0 0 20px;
      margin-left: 10px;
      background: url("/static/images/info.svg");
      background-size: 20px 20px;
    }

    .pkg-table__more-info__floating {
      z-index: 999;
      display: none;
      position: absolute;
      width: 300px;
      top: -20px;
      left: 70%;
      padding: 10px;
      background: #fff;
      border: #ddd solid 1px;
      border-radius: 4px;
    }

    .pkg-table__more-info:hover .pkg-table__more-info__floating {
      display: block;
    }

    /* table body section */
    .pkg-table__row .pkg-table__cell {
      font-size: 1.2em;
    }

    .pkg-table__cell[data-included="y"],
    .pkg-table__cell[data-included="n"] {
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .pkg-table__cell[data-included="y"] {
      background-image: url("/static/images/tick.svg");
    }

    .pkg-table__cell[data-included="n"] {
      background-image: url("/static/images/cross.svg");
    }

    /* addons */
    .pkg-addons {
      display: flex;
      flex-flow: row nowrap;
    }

    .pkg-addons__item {
      flex: 1 1 1px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      margin-right: 10px;
      padding: 20px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .pkg-addons__title {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .pkg-addons__price {
      font-size: 1.2em;
    }

    @media (min-width: 1001px) {
      .pkg-mobile-selector {
        display: none;
      }
    }

    @media (max-width: 1000px) {
      .pkg-table__header .pkg-table__content-cell,
      .pkg-table__cell {
        display: none !important;
      }

      .pkg-container[data-package="com"] .pkg-table__cell:nth-child(2),
      .pkg-container[data-package="silver"] .pkg-table__cell:nth-child(3),
      .pkg-container[data-package="gold"] .pkg-table__cell:nth-child(4),
      .pkg-container[data-package="plat"] .pkg-table__cell:nth-child(5),
      .pkg-container[data-package="hyper"] .pkg-table__cell:nth-child(6) {
        display: flex !important;
      }

      .pkg-table__more-info.active {
        background: url("/static/images/close.svg");
        background-size: 20px 20px;
      }

      .pkg-table__more-info__floating {
        display: none !important;
        top: 30px;
        left: -120px;
      }

      .pkg-table__more-info.active .pkg-table__more-info__floating {
        display: block !important;
      }
    }

    @media (max-width: 1000px) {
      .pkg-addons {
        flex-flow: column;
      }

      .pkg-addons__item {
        flex: 1 1 auto;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

  }
}