@import '../../../styles/styles.scss';

.cell {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: $base;

  @include md {
    margin-bottom: $base * 2;
  }

  p {
    font-size: 24px;
  }
}