@import '../../../styles/styles.scss';

.cell {
  width: 100%;
  height: $table_row_height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: $base;

  @include md {
    margin-bottom: $base * 2;
  }

  svg {
    height: 30px;
  }

  p {
    font-size: 24px;
  }
  
  span {
    font-size: 12px;
  }
}