@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography/typography.scss';

.previous-sponsors {
  background-color: $light_grey;
  padding-bottom: $space-xxlarge;

  h2 {
    margin-bottom: $base * 2;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 28px;
  }

  &-container {
    @include page-margin;

    @include lg {
      display: flex;
      flex-direction: row-reverse;
    }

    p {
      font-size: 21px;
      margin-top: $base * 2;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &-content {
    @include lg {
      margin-top: -$base * 4;
      width: 500px;
    }

    @include xl {
      width: 600px;
    }
  }
}
