@import '../../styles/styles.scss';

.previous-sponsors {
  background-color: white;
  
  &-content {
    @include page-margin;
    @include heading-sizes;
    padding-top: $base * 5;
    padding-bottom: $base * 5;

    h2 {
      margin-bottom: $base * 2;
    }

    p {
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      color: $grey;
    }
  }
}
