@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.previous-sponsors {
  background-color: $light_grey;
  padding-bottom: $space-xxlarge;

  &-content {
    @include page-margin;

    h3 {
      text-transform: uppercase;
      text-align: center;
    }
  }
}
