@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography/typography.scss';

.icon-section {
  display: flex;
  align-items: center;

  img {
    margin-right: $space-small;
  }

  p {
    @include h3;
  }
}

.icon-section-with-title {
  display: block;
  
  .icon-title {
    display: flex;
    align-items: center;
    margin-bottom: $base;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: $base;
  }

  h4 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 21px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
  }
}
