@import '../../styles/spacing.scss';

.stack {
  &-xsmall {
    > * + * {
      padding-top: $space-xsmall;
    }
  }

  &-small {
    > * + * {
      padding-top: $space-small;
    }
  }

  &-medium {
    > * + * {
      padding-top: $space-medium;
    }
  }

  &-large {
    > * + * {
      padding-top: $space-large;
    }
  }

  &-xlarge {
    > * + * {
      padding-top: $space-xlarge;
    }
  }

  &-xxlarge {
    > * + * {
      padding-top: $space-xxlarge;
    }
  }
}
