<div id="event-criteria" class="section event-section">
  <div class="wrap">
    <h3><span>Judging Criteria</span></h3>
    <div class="row">
      <div class="criterion">
        <h4>Originality</h4>
        <p>
          Is the hack more than just another generic social/mobile/local app? Does it do something entirely novel, or at least take a fresh approach to an old problem?
        </p>
      </div>
      <div class="criterion">
        <h4>Technical Difficulty</h4>
        <p>
          Is the hack technically interesting or difficult? Is it just some lipstick on an API, or were there any technical challenges to surmount when building it?
        </p>
      </div>
      <div class="criterion">
        <h4>Polish and Design</h4>
        <p>
          Is the hack usable in its current state? Is the user experience smooth? Does it work as the creators say? Is it well designed? Our judges will see and/or want to use your prototype - so make sure it works!
        </p>
      </div>
      <div class="criterion">
        <h4>Usefulness</h4>
        <p>
          Is the hack practical? Is it something people would actually use? Does it fulfil a real need that people have? While you are not required to prepare a business plan, your app should have an audience identified.
        </p>
      </div>
    </div>
  </div>
</div>
