
<div id="event-faqs" class="section event-section">
  <div class="wrap">
    <h3><span>FAQ</span></h3>
    <div class="row">
      <div class="question">
        <h4>Who is eligible to compete?</h4>
        <p>
          UNIHACK is open to all university and TAFE students in Australia. The only requirement is that you must be
          an enrolled undergraduate, honours, postgraduate or TAFE student when UNIHACK starts on July 30. We reserve
          the right to cancel your ticket if you do not meet this requirement.
        </p>
      </div>
      <div class="question">
        <h4>Are we allowed to work on our idea beforehand?</h4>
        <p>
          You are not allowed to start any development work on your project before UNIHACK. All development work -
          code, images, graphics, sounds - must be sourced or developed during the 24 hours. However, you can research
          any ideas and concepts before the competition begins.
        </p>
      </div>
      <div class="question">
        <h4>Are we allowed to work on existing projects?</h4>
        <p>
          No, you will not be allowed to work on existing projects at UNIHACK. We want to see new ideas that you and your
          team can come up with in 24 hours. However, you can use your own projects in your idea if it is open sourced.
        </p>
      </div>
      <div class="question">
        <h4>Are tickets refundable?</h4>
        <p>
          No, tickets are not refundable. However, if you are unable to make it,
          you are free to sell your ticket on the <a href="http://facebook.com/group/unihackers">UNIHACKers</a>
          group or the Facebook event page.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="question">
        <h4>Do I have to stay overnight?</h4>
        <p>
          You are not required to stay overnight. However, you will not be allowed to continue working on your
          project from home. All work must be done at LAB-14.
        </p>
      </div>
      <div class="question">
        <h4>What is the max team size?</h4>
        <p>
          You may have up to four members in your team.
        </p>
      </div>

      <div class="question">
        <h4>Can I bring alcohol or smoke?</h4>
        <p>
          No. The event is a strictly non-alcoholic and non-smoking event.
        </p>
      </div>
      <div class="question">
        <h4>Do you own my code?</h4>
        <p>
          Any intellectual property (e.g. code, images, audio) that you and/or your team create during
          UNIHACK belongs to you and/or your team.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="question">
        <h4>I have never been to a hackathon. Is that OK?</h4>
        <p>
          Certainly! Hackathons are a great way to learn new skills, and there will be mentors on-site
          to help you along the way to help you build the best possible idea within 24 hours.
        </p>
      </div>
      <div class="question">
        <h4>I don't have a team for UNIHACK...</h4>
        <p>
          Don't worry, we have that covered. Simply go to our Facebook group <a href="http://facebook.com/group/unihackers">UNIHACKers</a> and create a post asking
          if any teams are looking for any additional team members. We also suggest asking the IT student
          society at your university because they might be organsing a team.
        </p>
      </div>
      <div class="question">
        <h4>Is there a Code of Conduct?</h4>
        <p>
          Yes, there is a code of conduct. UNIHACK follows "The Hack Code of Conduct". This applies to all attendees,
          sponsors, partners, volunteers and staff.
          You can view the code of conduct <a href="http://hackcodeofconduct.org/unihack">here</a>.
        </p>
      </div>
      <div class="question">
        <h4>What should I bring?</h4>
        <p>
          A laptop, mobile phone, chargers, and a change of clothes are essential. We highly suggest also
          bringing a sleeping bag and toiletries if you want to stay the night (there is a shower located on-site).
        </p>
      </div>
    </div>

  </div>
</div>
