<footer id="gl-foot">
  <div class="wrap">
    <div class="col credits">
      <p>Design and Development by <a href="http://terencehuynh.com">Terence Huynh</a></p>
      <p>Photography by <a href="http://www.facebook.com/tomsolariphotography/">Tom Solari</a> and <a href="http://www.twitter.com/DeveloperSteve">Steven Cooper</a></p>
      <p class="gap">Powered by <a href="https://en.wikipedia.org/wiki/Caffeine">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></a></p>
      <p>Made with <i class="fa fa-heart love"></i> in Melbourne, Australia</p>
    </div>
    <div class="col logo">
      <p>Organised by</p>
      <p><a class="wired-logo" href="http://wired.org.au"><span>WIRED Monash</span></a></p>
      <p>&copy; 2015 WIRED Monash. All Rights Reserved.</p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/site.js"></script>
</body>
</html>
