<footer id="gl-foot">
  <div class="unihack-wrap container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>Design and Development by <a href="http://terencehuynh.com">Terence Huynh</a></p>
        <p>Photography by <a href="http://www.facebook.com/tomsolariphotography/">Tom Solari</a></p>
        <p class="gap">Powered by <a href="https://en.wikipedia.org/wiki/Caffeine">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></a></p>
        <p>Made with <i class="fa fa-heart love"></i> in Melbourne, Australia</p>

        <p class="copyright">&copy; {{ 'now' | date: "%Y" }} UNIHACK Australia. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>
{% if page.gmaps %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCkUhRgQ8olWMHZRauELz55rBEBV6eX-P8&sensor=false"></script>
<script type="text/javascript" src="/js/{{ page.gmaps }}"></script>
{% endif %}
