<footer id="gl-foot">
  <div class="unihack-wrap container-fluid">
    <div class="row">
      <div class="col-md-6 left">
          <p class="links">
            <span class="link"><a href="/press">Press Kit</a></span>
            <span class="link"><a href="/privacy">Privacy Policy</a></span>
            <span class="link"><a href="/terms">Terms of Service</a></span>
          </p>
        <p>Made with <i class="fa fa-heart love"></i> and <a class="coffeetime">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></a> in 🇦🇺</p>
        <p class="copyright">&copy; {{ 'now' | date: "%Y" }} UNIHACK INCORPORATED. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 right">
        <p>UNIHACK INCORPORATED</p>
        <p>ABN: 85 369 194 065</p>
        <p class="contact">
          <span class="link email-substitute"></span>
          <span class="link phone-substitute"></span>
        </p>
        <p>101/6 Lord Street, Richmond, VIC 3121</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>
{% if page.gmaps %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCkUhRgQ8olWMHZRauELz55rBEBV6eX-P8&sensor=false"></script>
<script type="text/javascript" src="/js/{{ page.gmaps }}"></script>
{% endif %}
