@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.sponsor-prompt {
  &-container {
    background-color: $secondary;
  }

  &-content {
    @include page-margin;

    padding-top: $space-xlarge;
    padding-bottom: $space-xlarge;
    color: $white;
    font-size: 16px;

    h2 {
      color: $primary;
    }

    p a {
      @include link-underline($white);
      font-weight: 500;
    }

    .actions {
      @include action-container;
    }
  }
}