@import '../../styles/styles.scss';

.sponsor-prompt {
  background-color: $secondary;

  &-content {
    @include page-margin;
    @include heading-sizes;

    padding-top: $base * 4;
    padding-bottom: $base * 4;
    color: #C6C6C6;
    font-size: 16px;

    h2 {
      color: $primary;
      margin-bottom: $base;
    }

    h3 {
      color: $primary;
      font-weight: 400;
      margin-bottom: $base * 2;
    }

    p a {
      @include link-underline(#C6C6C6);
      font-weight: 500;
    }

    .actions {
      @include action-container;
      margin-top: $base * 4;
    }
  }
}