@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.sponsor-prompt {
  background-color: $secondary;

  &-content {
    @include page-margin;

    padding-top: $xlarge;
    padding-bottom: $xlarge;
    color: $white;
    font-size: 16px;

    h2 {
      color: $primary;
    }

    p a {
      @include link-underline($white);
      font-weight: 500;
    }

    .actions {
      @include action-container;
    }
  }
}