@import '../../../styles/styles.scss';
$subtitleColour: #515151;

.column {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  justify-self: end;
  grid-row: 1 / -1;

  min-width: 80%;
  margin-right: $base * 2;

  scroll-snap-align: start;

  @include sm {
    min-width: 50%;
    margin-right: $base * 4;
  }

  @include md {
    width: 148px;
    min-width: auto;
    margin-right: 0;
  }

  @include xl {
    width: 160px;
  }

  &-header,
  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 13px;
      color: $subtitleColour;
      margin: 0;
      line-height: 16px;
      height: 16px;
    }

    +.column-divider {
      padding-bottom: $base * 2;
    }
  }

  &-divider {
    width: 100%;
    border-top-width: 4px;
    border-top-style: solid;

    &-platinum {
      border-top-color: $platinum;
    }

    &-gold {
      border-top-color: $gold;
    }

    &-silver {
      border-top-color: $silver;
    }

    &-bronze {
      border-top-color: $bronze;
    }
  }

  &-header {
    padding: $base * 4 0 14px;
  }

  &-footer {
    padding: $base * 4 0;
  }
}