@reference "#styles/core.css";

.container {
  @apply container;
  margin-top: 160px;
  margin-bottom: 64px;
  font-family: var(--font-sora);
}


.eventInfo {
  h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 48px;
  }

  ul.breadcrumbs {
    li {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;

      svg {
        margin-right: 8px;
      }
    }
  }
}

.eventLayout {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #da8ab310;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 8px;
  padding: 24px;

  @variant lg {
    flex-direction: row;
    padding: 48px;
  }

  aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    a {
      width: 100%;
      margin-top: 48px;
      text-align: center;
    }
  }

  > div {
    flex: 1;
  }

  @variant md {
    aside {
      width: 300px;
      flex: unset;
    }
    aside a {
      width: auto;
    }
  }

  ul {
    li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 36px;
    color: white;

    &:last-child {
      margin: 0;
    }

      span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 4px;
        display: block;
      }

      svg {
        margin-right: 4px;
      }
    }

  }
}

.eventContent {
  > div {
    @apply container
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    color: white;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}

.eventVideo {
  padding: 0;
  > div {
    aspect-ratio: 16/9;
    width: 100%;
  }
}

.eventWinners {
  padding: 64px 0;
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;

    @variant md {
      grid-template-columns: repeat(2, 1fr);
    }

    > div:first-child {
      grid-column: 1 / -1;
    }
  }

  .prizeGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @variant md {
      grid-template-columns: repeat(2, 1fr);
    }

    @variant lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.info {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 24px;

  svg {
    margin-right: 8px;
  }

  div {
    p {
      margin: 0;
      color: white;
      font-size: 14px;
    }
  }
}