@reference "#styles/core.css";

.container {
  @apply container;
  margin-top: 160px;
  margin-bottom: 64px;
  font-family: var(--font-sora);
}

.eventContent {
  > div {
    @apply container;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 48px;

    @variant md {
      gap: 128px;
    }

    > section {
      border-top: 2px solid var(--palette-pink);
      padding-top: 24px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    color: var(--palette-white);
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 24px;

    svg {
      margin-right: 8px;
      color: var(--palette-pink);
      height: 24px;
      width: 24px;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 24px;

  svg {
    margin-right: 8px;
  }

  div {
    p {
      margin: 0;
      color: white;
      font-size: 14px;
    }
  }
}