<div id="clubs">
  <div id="wired-background"></div>
  <div class="unihack-wrap container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-12 wired">
        <h3>Wired Monash</h3>
        <p>
          UNIHACK Melbourne is organised by WIRED Monash, the society for IT students and those who are curious about
          all things digital at Monash University Clayton. We aim to provide a relaxed atmosphere
          where students can meet others who share their love, opinions, and collaborate on projects and competitions.
        </p>
        <p>
          <a class="uh_btn" href="http://wired.org.au">Visit WIRED Monash</a>
        </p>
      </div>
      <div class="col-md-6 col-xs-12 suits">
        <h3>SUITS</h3>
        <p>
          UNIHACK Sydney is organised by SUITS, the University of Sydney's IT student society. We run
          social events, hold seminars, teach advanced programming skills, help connect companies with students,
          and assist communication between staff and students in IT. It is supported by the University of Sydney Union (USU).
        </p>
        <p>
          <a class="uh_btn" href="http://suits.org.au">Visit SUITS</a>
        </p>
      </div>
  </div>
  </div>
</div>
