@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Rubik:500');

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .unihack-wrap {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .unihack-wrap {
    width: 80%;
    margin: 0 auto;
  }
}
