@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Rubik:500');

@import "mixins";

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.unihack-wrap {
  margin: 0 auto;
  width: 75%;
}
