/* Footer */

#gl-foot {
  text-align: center;
  background: #d0d0d0;
  padding: 32px 0;
  position: relative;
  overflow: hidden;

  p {
    font-size: 0.75rem;
    margin: 0 0 4px;
    line-height: 1rem;
    text-transform: uppercase;
    color: #888;
  }

  p.copyright {
    margin: 24px 0 4px;
  }

  .love {
    color: #ff0000;
  }

  a {
    color: #555;
  }

}
