/* Header */
#gl-head {
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  position: absolute;
  z-index: 999;

  .unihack-wrap {
    z-index: 999;
    height: 60px;
  }

  .unihack-logo {
    margin-top: 20px;
    height: 60px;
    float: left;
    padding: 10px 15px;
    margin-left: -15px;
  }

  h1 {
    float: left;
    background: url('/img/UniHack_U_White.png') top left no-repeat;
    background-size: 31px 40px;
    height: 40px;
    padding-left: 40px;
    font-family: $font-title;
    font-weight: 300;

    a {
      color: white;
      text-decoration: none;
    }

    .logo, .city {
      display: none;
    }

    .short {
      display: block;
      font-weight: 500;
    }

    .city, .short {
      font-size: 2rem;
      line-height: 40px;
      color: white;
      letter-spacing: -1px;
    }
  }

  .unihack-nav {
    float: right;
    margin-top: 20px;
    margin-right: -15px;

    .mobile-nav {
      display: block;
      position: relative;

      &>a {
        height: 60px;
        line-height: 40px;
        color: white;
        font-size: 1.75rem;
        padding: 10px 15px;
        display: block;
      }

      &>a:hover, &>a.is-open {
        background: $overlay-nav-bg;
      }

      h3 {
        font-size: 0.875rem;
        font-family: $font-title;
        padding: 30px 15px 6px;
        margin: 0;
        clear: both;
        color: white;
        text-transform: uppercase;

        &:first-child {
          padding-top: 0px;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;

        li {
          display: block;
          float: none;
          width: 100%;
          font-size: 0.875rem;

          &>a {
            padding: 5px 15px;
            display: block;
            color: $header-nav;
          }
        }
      }
    }

    .desktop-nav {
      display: none;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        height: 40px;

        li {
          display: inline-block;
          height: 40px;
          font-size: 0.875rem;
          line-height: 40px;
        }

        a {
          padding: 0 15px;
          display: block;
          color: white;
        }
      }
    }

    .slideover-wrap {
      background: $overlay-nav-bg;
      width: 100vw;
      right: 0px;
      top: 60px;
      position: absolute;
      z-index: 999;
      display: none;
      overflow-x: scroll;

      .nav-top {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        padding: 0;

        a {
          height: 60px;
          line-height: 40px;
          color: white;
          font-size: 1.75rem;
          padding: 10px 15px;
          display: block;
          float: right;
        }
      }

      .nav-body {
        padding: 30px 20px;
        overflow: hidden;
      }

      &.is-open {
        display: block;
      }
    }

  }

  &.docked {
    position: fixed;
    background: $header-bg;
    height: 60px;

    .unihack-banner-bg {
      background: $unihack-yellow;
      position: absolute;
      z-index: 998;
      width: 50%;
      height: 60px;
    }

    .unihack-wrap {
      background: $header-bg;
    }

    .unihack-logo {
      margin-top: 0;
      background: $unihack-yellow;
    }

    .unihack-nav {
      margin-top: 0;

      .desktop-nav ul li a {
        color: $header-nav;
      }
    }

  }

}

.image {
  background: black;
  height: 100vh;
  width: 100vw;
  content: ' ';
}

@media (max-width: map-get($grid-breakpoints, md) - 1) {
  #gl-head .unihack-nav .mobile-nav {
    position: inherit;
  }
  #gl-head .unihack-nav .slideover-wrap {
    height: 100vh;
    right: 0;
    top: 0;

    .nav-top {
      display: block;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  #gl-head {
    .unihack-logo {
      padding: 10px 15px;
    }

    .unihack-nav .slideover-wrap {
      width: 250px;
    }

  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  #gl-head {
    h1 {
      .short {
        display: none;
      }
      .city {
        display: block;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  #gl-head {
    .unihack-nav {
      float: right;
      padding: 10px 0;

      .mobile-nav {display: none;}
      .desktop-nav {display: block;}
    }
  }
}

/* Footer */
#gl-foot {
  text-align: center;
  background: #d0d0d0;
  padding: 32px 0;
  position: relative;
  overflow: hidden;

  p {
    font-size: 0.75rem;
    margin: 0 0 4px;
    line-height: 1rem;
    text-transform: uppercase;
    color: #888;
  }

  p.copyright {
    margin: 24px 0 4px;
  }

  .love {
    color: #ff0000;
  }

  a {
    color: #555;
  }

}
