/* Page Stuff */

#page-title {
  background: #e9e9e9;
  padding: 28px 0;

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: $font-title;
    letter-spacing: -2px;
    font-weight: 400;
    color: #888;
    margin: 0;
  }
}

.page-block {
  padding: 36px 0;
  border-bottom: 1px solid #e0e0e0;

  h3 {
    color: #606060;
    font-size: 1.125rem;
    letter-spacing: -1px;
    font-family: $font-title;
    font-weight: 500;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;

    span {
      padding-bottom: 6px;
      border-bottom: 5px solid #606060;
      display: inline-block;
    }
  }

  p, ul li {
    margin: 0 0 28px;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    color: #303030;
    text-align: justify;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p.intro {
    font-size: 1.75rem;
    font-family: $font-title;
    font-weight: 400;
    line-height: 2.75rem;
    margin: 0 0 32px;
    color: #808080;
    text-align: center;
  }

  p.text-center {
    text-align: center;
  }

  li {
    margin-bottom: 12px;
  }

  strong {
    font-weight: 600;
  }

  a.uh_btn {
    @include unihack-button(#808080, #808080);
    font-weight: 400;
    letter-spacing: 0;
    display: block;
    padding: 8px 12px;
    margin-bottom: 5px;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 0 28px;
  }

}

@media (min-width: map-get($grid-breakpoints, md)) {
  #page-title {
    padding: 32px 0;

    h2 {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -3px;
    }
  }

  .page-block {
    padding: 42px 0;

    h3 {
      font-size: 1.3125rem;
    }

    p, ul li {
      margin: 0 0 32px;
      font-size: 1.3125rem;
      line-height: 2.25rem;
      font-weight: 300;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p.intro {
      font-size: 2.25rem;
      line-height: 3rem;
      margin: 0 0 42px;
    }

    img {
      margin: 0 0 32px;
    }

    a.uh_btn {
      display: inline-block;
    }
  }
}
