@import '../../styles/styles.scss';
@import '../../styles/typography/typography.scss';

.conduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $base * 7;
  padding-bottom: $base * 7;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    align-self: flex-start;
  }

  h2 {
    @include h3;
  }

  a {
    @include link;
    text-decoration: underline;
  }

  ol,
  ul {
    margin: $base * 2 0;
    padding: 0;
    list-style: none;
    counter-reset: list;

    li {
      padding: 0 0 0 $base * 3;
      margin-bottom: $base * 2;
      position: relative;
      counter-increment: list;
      position: relative;

      &:before {
        left: 0;
        position: absolute;
        text-align: left;
      }

      blockquote {
        border-left: 5px solid $salmon;
        background: adjust-color($salmon, $alpha: -0.9);
        padding: $base 0 $base ($base * 3 - 5px);
        margin: $base * 2 0 0;
        border-radius: 4px;
      }
    }

    p {
      margin-top: $base * 2;
      max-width: none;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  ol li:before {
    content: counters(list, '.') '.';
  }

  ul li:before {
    content: '\21B3';
  }

  p {
    @include body;
  }

  strong {
    @include body-bold;
  }

  .introduction {
    @include body;
    background: $primary;
    padding: $base * 2;
    margin: $base * 2 0 0 0;
    border-radius: 4px;
  }
}
