@import './core.css';

@utility home-section {
  @apply layout-container;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;


  h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1px;
    margin: 0 auto 32px;
    display: inline;

    @variant md {
      text-align: center;
    }
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 18px;
    color: #bdc8d7;
  }

  & > .centerText {
    max-width: 600px;
    margin: 0 auto;

    @variant md {
      text-align: center;
    }
  }

  @variant lg {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
