@reference "tailwindcss";
@import "./core.css";

@utility sponsor-section {
  h2 {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -1px;
  }

  > div {
    @apply container;
  }
}
