@reference "#styles/core.css";

ul.breadcrumbs {
    margin-bottom: 16px;
    li {
        font-size: 12px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        margin: 0;

        a:hover {
            color: white;
        }

        svg {
            margin-right: 8px;
        }
    }
}


.default {
  h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 48px;
  }
}

.branded {
  position: relative;
  padding: 400px 0 0;

  @variant lg {
    padding: 100px 0 0;
    height: 100vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -999;
    width: 100%;
    background: black;
    height: 600px;

    @variant lg {
      height: 100vh;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    img.img-top {
        object-position: top;
    }

    img.img-bottom {
        object-position: bottom;
    }

    img.img-center {
        object-position: center;
    }

     &:before {
      content: "";
      background: linear-gradient(0, var(--background), transparent);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

 

  .content {
    @apply container;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 2;

    @variant md {
      justify-content: space-between;
    }

    .arrowDown {
      display: block;
      margin: 24px auto;
      width: 16px;
      height: 16px;
      transition: opacity 120ms linear;
      will-change: opacity;

      @variant lg {
        margin: 48px auto;
        width: 36px;
        height: 36px;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    ul.eventDetailsList {
      display: flex;
      margin-top: 24px;

      li {
        display: flex;
        flex: 1;
        flex-direction: column;
        color: white;
        font-size: 13px;
        line-height: 18px;
        margin: 0;

        @variant lg {
          font-size: 16px;
        }
      }

      span {
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 4px;
        @variant lg {
          font-size: 13px;
          line-height: 24px;
        }
      }
    }

    h1 {
      @apply text-4xl;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0;
      color: white;

      @variant lg {
        @apply text-9xl;
        letter-spacing: -4px;
      }
    }
  }
}
