@import '../../../styles/styles.scss';

.menu-item {


  @include xsm {
    display: block;
    margin-bottom: $base + 4px;
  }

  @include sm {
    margin-bottom: $base * 2;
  }

  @include md {
    margin-bottom: 0;
    &:not(:first-of-type) {
      margin-left: 24px;
    }
  }

  & a {
    @include xsm {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;

      p {
        font-weight: 500;
      }
    }

    @include md {
      display: block;
      width: auto;
      height: auto;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
      text-transform: none;

      @include link-underline;
    }

    &:hover {
      @include xsm {
        text-decoration: underline;
      }
    }

    &:active {
      @include xsm {
        box-shadow: none;
        transform: translate(4px, 4px);
      }

      @include md {
        transform: none;
      }
    }
  }
}
