@import '../../../styles/styles.scss';

.menu-item {
  @include xsm {
    display: block;
    margin-bottom: $base + 4px;
  }

  @include sm {
    margin-bottom: $base * 2;
  }

  @include md {
    margin-bottom: 0;
    &:not(:first-of-type) {
      margin-left: $base * 5;
    }
  }

  & a {
    @include xsm {
      @include link;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $base * 2;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      box-shadow: $floatingShadow;
      font-weight: 500;
      text-transform: uppercase;
    }

    @include md {
      display: block;
      height: auto;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      font-weight: normal;
      text-transform: none;
    }

    &:hover {
      @include xsm {
        background-color: darken(white, 7%);
        transform: translateY(1px);
      }

      @include md {
        text-decoration: underline;
        background-color: transparent;
        transform: none;
      }
    }
  }
}
