@import '../../../styles/styles.scss';

.menu-item {
  @include xsm {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    margin-bottom: $base + 4px;
    padding: $base * 2;
    border-radius: 20px;

    background-color: white;
    box-shadow: $floatingShadow;
    font-weight: 500;
    text-transform: uppercase;

    & a {
      @include link;
    }

    & a:hover {
      background-color: darken(white, 7%);
      transform: translateY(1px);
    }
  }

  @include sm {
    margin-bottom: $base * 2;
  }

  @include md {
    margin-bottom: 0;
    padding: 0;

    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
    text-transform: none;

    & a {
      @include link-underline;
    }

    & a:hover {
      background-color: transparent;
      transform: none;
    }

    &:not(:first-of-type) {
      margin-left: $base * 5;
    }
  }
}
