@mixin hxl-desktop-large {
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin hxl-desktop {
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin hxl-mobile {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin hl-desktop-large {
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin hl-desktop {
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin hl-mobile {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: -0.06em;
}

@mixin h1-desktop {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin h1-mobile {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin h2-desktop {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin h3-desktop {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin h4-desktop {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin hxl-base {
  position: relative;
  z-index: 1;
}

@mixin no-margin {
  margin: 0;
}

@mixin body-desktop {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin body-mobile {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin body-bold-desktop {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin body-bold-mobile {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0;
}