@import './typography-base.scss';
@import '../styles.scss';

@mixin hxl {
  @include no-margin;
  @include hxl-base;
  @include hxl-mobile;

  @include md {
    @include hxl-desktop;
  }
}

@mixin hl {
  @include no-margin;
  @include hl-mobile;

  @include md {
    @include hl-desktop;
  }
}

@mixin h1 {
  @include no-margin;
  @include h1-mobile;

  @include md {
    @include h1-desktop;
  }
}

@mixin h2 {
  @include no-margin;
  @include h3-desktop;

  @include md {
    @include h2-desktop;
  }
}

@mixin h3 {
  @include no-margin;
  @include h4-desktop;

  @include md {
    @include h3-desktop;
  }
}

@mixin h4 {
  @include no-margin;
  @include h4-desktop;
}

@mixin body {
  @include no-margin;
  @include body-mobile;

  @include md {
    @include body-desktop;
  }
}

@mixin body-bold {
  @include no-margin;
  @include body-bold-mobile;

  @include md {
    @include body-bold-desktop;
  }
}

@mixin underline {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 4px;
    border-bottom: 8px solid $primary;
    
    @include md {
      bottom: 8px;
      border-bottom: 16px solid $primary;
    }
  }
}