@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

$past-grey: #6c6c6c;

.event-page-schedule {
  display: flex;
  flex-direction: column;

  .day-selectors {
    display: flex;
    .day-selector {
      flex: 1;
      background-color: transparent;
      border: none;
      border-radius: 4px 4px 0 0;
      color: $past-grey;
      padding: ($base * 2);
      font-family: inherit;
      font-size: 18px;
      font-weight: 600;
      -webkit-appearance: button;
      cursor: pointer;
      outline: none;
      height: 60px;

      &:hover {
        color: $midori;
      }

      &.active,
      &:focus {
        color: white;
        background: $midori;
        color: white;
      }
    }
  }

  > p {
    font-size: 16px;
    line-height: 16px;
    border-radius: 0 0 5px 5px;
    border: 2px solid $midori;
    border-top: 0;
    padding: $base * 4;
    color: $midori;

    @include md {
      font-size: 18px;
      line-height: 18px;
      padding: $base * 4;
    }
  }
}
