@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.sponsor-prompt {
  background: $midori;
  padding-bottom: $space-xxlarge;
  margin-bottom: $base * -4;

  &-container {
    @include page-margin;
    position: relative;
  }

  &-image {
    position: absolute;
    display: none;
    background-size: cover;

    @include md {
      display: block;
      top: -$space-xxlarge;
      bottom: -$space-xxlarge;
      right: -$base * 3;
      left: 400px;
    }

    @include lg {
      left: 440px;
      right: calc((970px - 100vw) / 2);
    }

    @include xl {
      left: 480px;
      right: calc((1100px - 100vw) / 2);
    }
  }

  &-content {
    color: $midori;

    @include md {
      width: 360px;
    }

    @include lg {
      width: 400px;
      min-height: 300px;
    }

    @include xl {
      min-height: 800px;
    }

    h2 {
      color: $white;
      margin: 0 0 $base * 2;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 200;
      margin: 0 0 $base * 2;
      color: $white;

      & a {
        @include link-underline($white);
        font-weight: 600;
      }
    }

    .actions {
      @include action-container;
    }
  }


}
