@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.sponsor-prompt {
  background: $primary;
  margin-bottom: $base * -4;

  &-container {
    @include page-margin;
    position: relative;
    display: flex;
    flex-direction: column;

    @include xl {
      flex-direction: row;
    }
  }

  &-image {
    position: absolute;
    display: none;
    
    @include md {
      display: block;
      position: relative;
      height: 500px;
      margin: 0 -32px;
    }

    @include lg {
      margin: 0 -64px;
    }

    @include xl {
      margin: 0;
      height: unset;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 460px;
      right: calc((1100px - 100vw) / 2);
    }
  }

  &-content {
    color: $secondary;
    padding: 32px 0;

    @include md {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include xl {
      width: 430px;
      height: 800px;
    }

    h2 {
      margin: 0 0 $base * 2 0;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 200;
      margin: 0 0 $base * 2;
      color: $secondary;

      & a {
        @include link-underline($secondary);
        font-weight: 600;
      }
    }
  }

  .actions {
    @include action-container;

    & a:hover {
      color: $primary !important;
    }
  }

}
