@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.sponsor-hero {
  @include page-margin;
  position: relative;

  > img {
    display: block;
    width: 100%;

    @include lg {
      width: 800px;
    }

    @include xl {
      width: 850px;
    }
  }

  &-content {
    background: $white;
    color: $secondary;
    padding: $space-large $space-medium;

    @include md {
      background-color: rgba($white, 0.87);
      backdrop-filter: blur(10px);
      width: 350px;
      padding: $space-xlarge;
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0;
    }

    @include lg {
      background: $white;
      backdrop-filter: unset;
      width: 420px;
      top: 140px;
      bottom: unset;
    }

    @include xl {
      width: 450px;
    }

    &-subtitle {
      font-weight: 600;
      line-height: 42px;
      font-size: 32px;
      color: $midori;
      letter-spacing: -1px;
      margin: 0;
      @include lg {
        line-height: 54px;
        font-size: 42px;
      }
    }
  }
}
