@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography/typography.scss';

.sponsor-hero {
  padding: $space-xxlarge 0;
  background: black url('../../public/images/sponsor-hero.png') center center
    no-repeat;
  background-size: cover;
  height: 720px;
  display: flex;
  align-content: center;
  align-items: center;

  &-container {
    @include page-margin;
    max-width: 760px;
    text-align: center;

    h1 {
      font-weight: 600;
      line-height: 42px;
      font-size: 32px;
      letter-spacing: -1px;
      margin: 0 0 $base * 4;
      color: $primary;

      span {
        display: inline-block;
      }

      @include lg {
        line-height: 48px;
        font-size: 36px;
      }

      @include xl {
        line-height: 70px;
        font-size: 64px;
      }
    }

    p {
      margin: 0 0 $base * 4;
      font-size: 18px;
      line-height: 21px;
      color: white;
    }
  }

  &-link {
    background-color: transparent !important;
  }

  &-event-data {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 0 $base * 4;

    &-content {
      margin: 0 $base * 2;

      h4 {
        color: white;
      }
      p {
        color: white;
        padding-bottom: $base;
        border-bottom: 3px solid $primary;
      }
    }
  }
}
