@import '../../styles/colours.scss';
@import '../../styles/spacing.scss';
@import '../../styles/styles.scss';

.hero {
  display: flex;
  flex-direction: column;
  
  &-graphic {
    width: 100%;
    height: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include page-margin;

    @include md {
      align-items: center;
      width: auto;
      margin: 0;
      
    }

    &-title {
      display: flex;
      flex-direction: column;

      @include md {
        align-items: center;
      }
      
      &-xl {
        display: flex;
        flex-direction: column;

        @include md {
          display: block;
        }
      }
    }

    &-subtitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include md {
        display: block;
      }
    }

    .actions {
      @include action-container;

      align-self: center;
      justify-content: center;
      width: 100%;
    }
  }

  .salmon {
    color: $salmon;
  }

  .midori {
    color: $midori;
  }

  .pacific {
    color: $pacific;
  }

  .yellow {
    color: $primary;
  }

  .mobile-only {
    display: none;

    @include md {
      display: inline;
    }
  }
}

