@import '../../styles/styles.scss';

.hero {
  background-color: $primary;

  &-content {
    @include page-margin;
    position: relative;

    @include xsm {
      padding-top: $base * 12;
      padding-bottom: $base * 4;
    }

    @include sm {
      padding-top: $base * 9;
      padding-bottom: $base * 12;
    }

    &-logo {
      width: 72px;
      height: 96px;
      margin-bottom: $base * 4;

      @include md {
        float: left;
        width: 148px;
        height: 196px;
        margin-left: -200px;
      }
    }

    &-title {
      @include heading-sizes;
      margin-bottom: $base * 2;

      @include md {
        padding-left: 200px;
      }

      h1 {
        margin: 0;
        letter-spacing: -3px;
        font-weight: 300;

        @include xsm {
          font-size: 60px;
          line-height: 40px;
        }

        @include md {
          font-size: 120px;
          line-height: 90px;
        }

        span {
          display: block;
          font-weight: 500;
          margin-bottom: $base * 2;
        }
      }

      h2 {
        font-weight: 400;
        margin-top: $base * 4;
        text-align: left;
      }

      a {
        @include link;
        text-decoration: underline;
      }
    }

    .actions {
      @include action-container;
      margin-top: $base * 4;

      @include md {
        padding-left: 200px;
      }

      a.fb-link {
        @include body-bold;
        @include link-underline;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
      }
    }
  }
}

.mlh-trust-badge {
  display: block;
  width: 70px;
  z-index: 10000;
  position: absolute;
  left: 0;
  opacity: 0.5;
  transition: all 0.2s;

  @include xsm {
    top: $base * -8;
  }

  @include sm {
    top: $base * -12;
  }

  &:hover {
    opacity: 1;
  }
}
