@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';
@import '../../../styles/typography/typography.scss';

.sponsor-addons {
  background-color: $light_grey;

  &-content {
    @include page-margin;

    .addons {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: $base * 2;

      @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $base * 4;
      }

      .addon-card-content {
        padding: $base * 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;

        p:last-child {
          @include h3;
        }

        @include sm {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: $base * 4;
        }
      }
    }
  }
}
