@import '../../../styles/colours.scss';
@import '../../../styles/typography/typography.scss';

.stat {
  background: $salmon;
  flex: 1;
  border-radius: 8px;

  p {
    text-align: center;
    color: $white;
  }

  span {
    @include hl;
    display: block;
  }

  &:nth-of-type(4n + 2),
  &.midori {
    background: $midori;
  }

  &:nth-of-type(4n + 3),
  .pacific {
    background: $pacific;
  }

  &:nth-of-type(4n + 4),
  .yellow {
    background: $primary;

    p {
      color: $secondary;
    }
  }
}