@import '../../../styles/styles.scss';

.event-page-sponsors {
  background-color: $light_grey;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;

    .section-title {
      color: $secondary;
    }

    .subtitle {
      @include subtitle;
      color: $secondary;
    } 

    .logo-center {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .company-logo {
        width: 50%;
        height: auto;

        @include md {
          height: 150px;
          width: auto;
        }
      }
    }

    .tier-accent {
      width: 100%;
      margin: 0;
      border: none;
      
      &.platinum {
        border-top: 4px solid #A3ADB8;
      }

      &.gold {
        border-top: 4px solid #FEE795;
      }

      &.silver {
        border-top: 4px solid #E4E6E9;
      }

      &.bronze {
        border-top: 4px solid #FFE4C2;
      }
    }
  }
}