@import '../../../styles/styles.scss';

.event-page-sponsors {
  background-color: $light_grey;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;
    padding-top: $base * 6;
    padding-bottom: $base * 6;

    .section-title {
      color: $secondary;
    }

    .subtitle {
      @include subtitle;
      color: $secondary;
    }

    .tier-title {
      margin-top: $base * 6;
      margin-bottom: $base * 3;
    }

    .highlighted {
      &.venue {
        background-color: $secondary;
        color: $light_grey;
      }

      &.platinum {
        background-color: #B9C4CB;
      }

      &.gold {
        background-color: $primary;
      }
      
      &.academic-gold {
        background-color: $primary;
      }

      &.silver {
        background-color: #E0E0E0;
      }

      &.other {
        background-color: #D28764;
      }
    }

    .primary-companies {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include xsm {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }
      
      .company-section {
        display: flex;
        flex-direction: column;
        width: 300px;

        img {
          width: 300px;
          margin-top: $base;
        }
      }
    }
  }
}