@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.event-page-prizes {
  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column;
    color: $secondary;

    .prize-section {
      padding-bottom: $space-xlarge;
    }

    .prize-grid {
      display: grid;
      grid-template-columns: auto;
      gap: $space-medium;

      @include lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .devpost-prompt {
      margin-top: $base * 2;
    }

    .btn-link {
      align-self: flex-start;
      margin-top: $base * 2;
    }
  }

  .judging-section {
    background-color: $secondary;
    padding-bottom: $space-xlarge;
    color: $light_grey;

    .judging-section-content {
      @include page-margin;
    }

    .criteria-grid {
      display: grid;
      grid-template-columns: auto;
      gap: 32px;

      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}