@import '../../styles/breakpoints.scss';
@import '../../styles/spacing.scss';

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;

  > * + * {
    margin-top: $space-medium;
  }

  @include sm {
    flex-direction: row;
    justify-content: space-between;

    > * + * {
      margin-top: 0;
      margin-left: $space-medium
    }
  }
  
}