@reference "#styles/core.css";

.eventLayout {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #da8ab310;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 8px;
  padding: 24px;

  @variant lg {
    flex-direction: row;
  }

  aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      width: 100%;
      margin-top: 48px;
      text-align: center;
    }
  }

  > div {
    flex: 1;
  }

  @variant md {
    aside {
      width: 300px;
      flex: unset;
    }

    aside a {
      width: auto;
    }
  }
}

.eventDetailsList {
  li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 36px;
    color: white;

    &:last-child {
      margin: 0;
    }

    span {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 4px;
      display: block;
    }

    svg {
      margin-right: 4px;
    }
  }
}

.videoList {
  li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 36px;
    color: white;

    &:last-child {
      margin: 0;
    }

    span {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 4px;
      display: block;
    }

    svg {
      margin-right: 4px;
    }
  }
}
