@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.main-prize,
.sponsor-prize,
.category-prize {

  > div {
    margin-bottom: 24px;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 0 0 16px;
    color: $electric-blue;

    @include md {
      font-size: 3rem;
      letter-spacing: -2px;
      margin: 0 0 24px;
    }
  }

  .prize-list {
    display: grid;
    gap: 16px;
    margin: 0 0 $space-medium;  

    @include md {
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      margin: 0 0 $space-xlarge;    
    }
  }
}

.main-prize {
  @include md {
    overflow: hidden;
    position: relative;
    padding: 32px;

    &:before {
      border: 3px solid rgba($electric-blue, 0.7);
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: calc(100% - 260px);
      right: 0;
      z-index: -1;
      border-radius: 5px;
    }  
  }
}

.sponsor-prize .prize-list {
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}
