@import '#styles/core.css';

.header {
  @apply backdrop-blur-lg;
  margin: 30px 16px 0;
  padding: 16px 24px;
  height: 72px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(0,0,0,0.4);
  border-radius: 68px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  position: relative;
  display: flex;

  img {
    height: 36px;
    width: auto;
  }

  span {
    font-family: var(--font-sora);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 8px;
    letter-spacing: -1px;
  }
}

.container {
  @apply container;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;

  nav {
    display: flex;
    flex-direction: column;

    @variant md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @variant md {
    padding-top: 60px;
  }
}

/* 


.navLinks {
  display: none;
  gap: 24px;
  margin-left: auto;

  @variant md {
    display: flex;
  }

  li {
    list-style: none;

    a {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 20px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.3s ease;

      &:hover {
        color: #fff;
      }
    }
  }
}

.container.mini {
  padding-top: 24px;
  padding-bottom: 24px;
  height: auto;

  .logo {
    img {
      height: 48px;
    }
    span {
      line-height: 50px;
      font-size: 32px;
      font-weight: 700;
      margin-left: 16px;
    }
  }
} */
