@import '#styles/core.css';

.header {
  @apply backdrop-blur-lg;
  margin: 30px 16px 0;
  padding: 16px 32px;
  height: 72px;
  background: rgba(0,0,0,0.3);
  border-radius: 64px;
  z-index: 999;
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  position: relative;
  display: flex;

  img {
    height: 40px;
    width: auto;
  }

  span {
    font-family: var(--font-sora);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-left: 8px;
    letter-spacing: -1px;
  }
}

.container {
  @apply container;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;

  nav {
    display: flex;
    flex-direction: column;

    @variant md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @variant md {
    padding-top: 60px;
  }
}

.navLinks {
  display: none;
  gap: 24px;
  margin-left: auto;

  @variant md {
    display: flex;
  }

  li {
    list-style: none;
    margin: 0;

    a {
      font-size: 14px;
      font-weight: 500;
      color: white;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
