@import '../../styles/styles.scss';
@import '../../styles/typography/typography.scss';

.footer {
  background-color: $footer_color;
  padding-top: $base * 4;
  padding-bottom: $base * 10;

  &-content {
    @include page-margin;
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;

    @include sm {
      flex-direction: row;
    }
  }

  &-acknowledgement {
    @include page-margin;

    p {
      @include body;
      color: $white;
      margin: 0 0 $base * 4;
      padding: 0 0 $base * 4;
      border-bottom: 1px solid $footer_border;
    }
  }

  svg {
    height: 40px;
    width: auto;
    margin-top: 4px;
    display: none;

    @include md {
      display: block;
    }
  }

  &-info {
    flex: 1;
    @include md {
      margin: 0 0 0 $base * 2;
    }
    .copyright {
      p {
        font-weight: normal;
        font-size: 14px;
        color: $footer_text;
        margin-top: 0;
        margin-bottom: 0;

        &:not(:last-of-type) {
          margin-bottom: $base * 0.25;
        }

        @include md {
          display: inline-block;
          margin-right: $base * 2;
        }
      }
    }
  }

  &-info,
  &-social {
    ul {
      list-style: none;
      margin: 0 0 $base * 0.5;
      padding: 0;

      li {
        display: inline-block;
        margin-left: $base * 2;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        color: $footer_link;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }
  &-social {
    margin-bottom: $base * 2;

    ul {
      a {
        width: 24px;
        height: 24px;
        display: block;
      }
    }
  }
}
