@import '../../../styles/styles.scss';

.row {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  padding-left: $base * 2;
  grid-row: auto;
  border-radius: 20px;

  p {
    vertical-align: middle;
    width: 50%;
    font-size: 14px;

    @include sm {
      font-size: 16px;
    }

    @include md {
      width: 240px
    }
  }
}