@import '../../../styles/colours.scss';
@import '../../../styles/styles.scss';

.hero {
  @include page-margin;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    &-info {
      width: 100%;
      height: auto;
      
      @include md {
        width: 50%;
      }
    }

    &-graphic {
      display: none;
      width: 50%;
      
      @include md {
        display: flex;
        padding-top: $base * 10;
      };

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .salmon {
    color: $salmon;
  }

  .midori {
    color: $midori;
  }

  .pacific {
    color: $pacific;
  }

  .yellow {
    color: $primary;
  }

  .mobile-only {
    display: none;

    @include md {
      display: inline;
    }
  }
}