@import "../../../styles/styles.scss";
@import "../../../styles/spacing.scss";
@import "../../../styles/typography/typography.scss";

.previous-sponsors {
  z-index: 1;
  position: relative;

  &-container {
    @include page-margin;

    p {
      font-size: 21px;
      margin-top: $base * 2;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.previous-sponsors-grid {
  place-self: center;
  @include md {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}
