@import '../../styles/styles.scss';

.sponsor-addons {
  background-color: $light_grey;
  
  &-content {
    @include page-margin;
    padding-bottom: $base * 5;

    h3 {
      margin-bottom: $base * 2;
    }

    .addons {
      display: flex;
      margin-bottom: $base * 2;

      @include xsm {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }

      .addon-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        width: 100%;

        &:not(:last-of-type) {
          @include xsm {
            margin-bottom: $base * 2;
          }

          @include md {
            margin-bottom: 0;
            margin-right: $base * 2;
          }
        }

        p {
          margin: 0;
          margin-bottom: $base;
        }
      }
    }

    .actions {
      @include action-container;
    }
  }
}