@import '../styles/styles.scss';

.cities {
  display: flex;
  @include xsm {
    flex-direction: column;
  }

  @include sm {
    flex-direction: row;
  }
}

.index {
  background: url('../public/images/homepage/2022-hero.png') top center no-repeat;

  .grid {
    @include page-margin;

    .row {
      display: grid;
      grid-gap: $base * 3;
      margin-bottom: $base * 3;
      
      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
