<div class="event-block {{ include.css }}" id="judging">
  <div class="unihack-wrap container-fluid">
    <h3>Judging Criteria</h3>
    <div class="row">
      <div class="col-md-3 criterion">
        <h4>Originality</h4>
        <p>
          Is the hack more than just another generic social/mobile/web/IoT solution?
          Does it do something entirely novel, or at least take a fresh approach
          to an old problem?
        </p>
      </div>

      <div class="col-md-3 criterion">
        <h4>Technical Difficulty</h4>
        <p>
          Is the hack technically interesting or difficult? Is it just some
          lipstick on an API, or were there any technical challenges to surmount
          when building it?
        </p>
      </div>

      <div class="col-md-3 criterion">
        <h4>Polish and Design</h4>
        <p>
          Is the hack usable in its current state? Does it work as the creators
          say? Is the user experience smooth? Is it well designed for the target
          audience? Our judges will want to see and use your prototype -
          so make sure it works!
        </p>
      </div>

      <div class="col-md-3 criterion">
        <h4>Usefulness</h4>
        <p>
          Is it something people would actually use? Does
          it fulfil a real need that the community, the broader society or the
          target audience has? You do not need to prepare a business plan, but you
          should at least identify who is your target audience.
        </p>
      </div>
    </div>
    <div class="process">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h3>New Judging Process</h3>
          <p>
            UNIHACK is introducing a new judging process in 2018 to improve the
            judging process for all competitors &mdash;
            <a target="_blank" href="https://medium.com/unihack-blog/unihack-melbourne-has-a-new-judging-process-ac7637193435">
              read our blog post
            </a>
            to find out what we have changed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
