<div class="event-block {{ include.css }}" id="judges">
  <div class="unihack-wrap container-fluid">
    {% for panel in event.judges %}
      <h3>{{ panel.title }}</h3>
      {% for judge in panel.judges %}
        {% assign row_index = forloop.index0 | modulo:2 %}

        {% if row_index == 0 %}<div class="row">{% endif %}

        <div class="judge col-md-6">
          <img src="/{{ judge.img }}" alt="{{ judge.name }}" class="rounded-circle" />
          <div class="judge-content">
            <h4>{{ judge.name }}</h4>
            <p class="job">{{ judge.job }}</p>
            {% if judge.bio %}<p class="bio">{{ judge.bio }}</p>{% endif %}
            {% if judge.twitter %}
            <a href="https://twitter.com/{{ judge.twitter }}/" class="uh_btn">
              <i class="fa fa-twitter"></i> @{{ judge.twitter }}
            </a>
            {% endif %}
          </div>
        </div>

        {% if row_index == 1 or forloop.last %}</div>{% endif %}
      {% endfor %}
    {% endfor %}

  </div>
</div>
