<div id="register" class="event-block {{ include.css }}">
  <div class="unihack-wrap container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-md-12 col-xs-12">
        <h3>Register Now</h3>
        <p>
          What are you waiting for? Register now for Australia's premier student
          hackathon, and let's see what you can create in 24 hours.
        </p>
        <p><a class="uh_btn" href="{{ include.url }}">Buy Now!</a></p>
      </div>
    </div>
  </div>
</div>
