@import '../../../styles/home.css';

.section {
  @apply home-section;

  h2 {
    background: linear-gradient(90deg, #3bdeea, #7dea10);
    background-clip: text;
    color: transparent;
  }

  .centerText:not(:last-child) {
    margin-bottom: 36px;
  }

  a {
    margin: 0 8px;
  }

  a:hover {
    border: 1px solid transparent;
    background: linear-gradient(90deg, #3bdeea, #7dea10);
  }
}

.sponsorGridWrapper {
  margin-bottom: 36px;
  p {
    text-align: center;
    margin-bottom: 16px;
  }
  .sponsorGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @variant md {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .sponsorGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #2d2d2d solid;
    border-radius: 8px;
    padding: 48px;
    text-align: center;
    height: 60px;

    @variant md {
      padding: 48px;
      height: 100px;
    }

    img {
      width: 100%;
      height: 32px;
      object-fit: contain;
    }
  }
}
