@import '../../styles/styles.scss';

.hr {
  
  &.dark{
  background-color: $secondary;
  }

  &-content {
    @include page-margin;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;

    &.dark{
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

  }
}