<div class="event-block {{ include.css }}" id="prizes">
  <div class="unihack-wrap container-fluid">
    <h3>Prizes</h3>

    <div class="row justify-content-center">
      <div class="prize prize-top-outer col-md-6">
        <div class="prize-card top first">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-trophy"></i></span>
              Grand Prize
            </h4>
            <p><span>$3000 in cash</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="more">More to be announced soon</p>
      </div>
    </div>


  </div>
</div>
