<div class="event-block {{ include.css }}" id="prizes">
  <div class="unihack-wrap container-fluid">
    <h3>Prizes</h3>

    <div class="row justify-content-center">
      <div class="prize prize-top-outer col-md-6">
        <div class="prize-card top first">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-trophy"></i></span>
              First Place
            </h4>
            <p><span>$3000 in cash</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top second">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Second Place
            </h4>
            <p><span>$2000 in cash</span></p>
          </div>
        </div>
      </div>
      <div class="prize prize-top-second col-md-6">
        <div class="prize-card top third">
          <div class="prize-card-inner">
            <h4>
              <span class="icon"><i class="fa fa-certificate"></i></span>
              Third Place
            </h4>
            <p><span>$1000 in cash</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Algorithm</h4>
            <p class="brief">Awarded to project that demonstrates a solution to a complex problem that is simple, elegant and effective.</p>
            <p>Raspberry Pi 3 for each team member (maximum 4)</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Emerging Tech</h4>
            <p class="brief">Awarded to the project that employs Artificial Intelligence, Virtual Reality, Augmented Reality, Biological or Chemical components or Blockchain technology in a useful way.</p>
            <p>$150 JB Hifi voucher for each team member</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <img src="/img/sponsors/jetbrains.png" alt="Bosch" class="uh-sponsor-logo"/>
            <h4>Best Education Project</h4>
            <p class="brief">Awarded to the project that that best solves a problem within the university environment.</p>
            <p>Jetbrains licenses for each team member</p>
            <p>2 x Bluetooth Speakers</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Interactive Work</h4>
            <p class="brief">Awarded to the project which explores an important domain, provokes with a new viewpoint and conveys new ideas. We're looking for interactive works that entertain, inform or educate the audience on an important issue, such as games and interactive artworks.</p>
            <p>Adobe CC licence for each team member (maximum 6)</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Product Design</h4>
            <p class="brief">Awarded to the project exhibits the best product design. Does the project and the team consider the problem space, the user, the experience, usability considerations and the full spectrum of accessibility?</p>
            <p>Adobe CC licence for each team member (maximum 6)</p>
          </div>
        </div>
      </div>
      <div class="prize col-md-4">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best User Interface</h4>
            <p class="brief">We're looking for the project that exhibits the best User Interface design. We're looking for the most appealing, most clear, and best visual choices for the interactions implemented by the team.</p>
            <p>Sketch licence for each team member (maximum 4)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="prize col-md-12">
        <div class="prize-card">
          <div class="prize-card-inner">
            <h4>Best Meme</h4>
            <p class="brief">Awarded to the person who makes the best meme during the event.</p>
            <p>Suprise prize!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
