@import '../../styles/styles.scss';

.sponsor-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding-top: $base * 5;
  padding-bottom: $base * 5;
  background-color: $light_grey;
  @include page-margin;

  &-content {
    box-shadow: $floatingShadow;
  }

  .icon-section {
    display: flex;
    margin-bottom: $base * 2;

    img {
      margin-right: 20px;
    }
  }

  &-content-left {
    color: $secondary;

    @include md {
      width: 50%;
    }

    padding: $base * 5;
    background-color: rgba($light_grey, .87);
    backdrop-filter: blur(10px);
    text-align-last: left;

    h2 {
      margin-bottom: $base * 2;
    }

    p {
      margin-bottom: $base * 2;
    }
  }

  &-content-right {
    @include md {
      width: 50%;
    }
  }

}