---
layout: main
---
<div class="subnav" id="archive-subnav">
  <div class="wrap">
    <div id="subnav-header">
      <h2>{{page.title}}</h2>
      <a href="#" class="trigger fa"></a>
    </div>
    <ul class="subnav-list">
      <li class="{% if page.subpage == 'index' %}selected{% endif %}"><a href="/events/">Past Events</a></li>
      <li class="{% if page.subpage == 'unihack-mini-2016' %}selected{% endif %}"><a href="/events/mini-2016/">Mini 2016</a></li>
      <li class="{% if page.subpage == 'unihack-2015' %}selected{% endif %}"><a href="/events/2015/">2015</a></li>
      <li class="{% if page.subpage == 'unihack-2014' %}selected{% endif %}"><a href="/events/2014/">2014</a></li>
    </ul>
  </div>
</div>

{{content}}
