<!--
Hello, it's me
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing.
-->
<!DOCTYPE html>
<html>
<head>
  {% capture header %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% if page.og_image %}
  <meta property="og:image" content="{{ site.url }}{{ page.og_image }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/img/unihack-og.jpg" />
  {% endif %}
  {% if page.og_description %}
  <meta property="og:description" content="{{ page.og_description }}" />
  {% else %}
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  {% if page.page == 'home' %}
  <title>UNIHACK 2016 &mdash; July 30-31 &mdash; Melbourne, Australia</title>
  {% elsif page.title_override == 'true' %}
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  {% else %}
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %} UNIHACK</title>
  {% endif %}
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,700|Open+Sans:300,400,700" rel="stylesheet" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/media/css/style.css" />
  {% if page.page_css %}
  <link rel="stylesheet" href="/media/css/{{ page.page_css }}" />
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63816174-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% endcapture %}{{ header | strip_newlines }}
</head>

<body class="{{ page.page }}">
  {% if page.no_header != true %}
  <header id="gl-head">
    <div class="wrap">
      <h1>
        <a href="/">
          <span>UNI</span>
          <span>HACK</span>
        </a>
      </h1>
      <nav id="main-nav">
        <a class="trigger fa"></a>
        <ul>
          <li class="unihack-2016 {% if page.page == 'unihack-2016' %}selected{% endif %}"><a href="/2016/">2016</a></li>
          <li class="archive {% if page.page == 'archive' %}selected{% endif %}"><a href="/events/">Archive</a></li>
          <li class="about {% if page.page == 'about' %}selected{% endif %}"><a href="/about/">About Us</a></li>
          <li class="sponsor {% if page.page == 'sponsor' %}selected{% endif %}"><a href="/sponsor/">Sponsor</a></li>
          <li class="blog"><a href="https://medium.com/unihack-blog/">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endif %}

  {{ content }}

  <footer id="gl-foot">
    <div class="wrap">
      <div class="col credits">
        <p>Design and Development by <a href="http://terencehuynh.com">Terence Huynh</a></p>
        <p>Photography by <a href="http://www.facebook.com/tomsolariphotography/">Tom Solari</a> and <a href="http://www.twitter.com/DeveloperSteve">Steven Cooper</a></p>
        <p class="gap">Powered by <a href="https://en.wikipedia.org/wiki/Caffeine">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></a></p>
        <p>Made with <i class="fa fa-heart love"></i> in Melbourne, Australia</p>
      </div>
      <div class="col logo">
        <p><a class="wired-logo" href="http://wired.org.au"><span>WIRED Monash</span></a></p>
        <p>&copy; 2015 WIRED Monash. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="/media/js/site.js"></script>
  {% if page.gmaps %}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCkUhRgQ8olWMHZRauELz55rBEBV6eX-P8&sensor=false"></script>
  {% endif %}
  {% if page.countdown %}
  <script type="text/javascript" src="/media/js/jquery.countdown.min.js"></script>
  {% endif %}
  {% if page.script %}
  <script type="text/javascript" src="/media/js/{{ page.script }}"></script>
  {% endif %}
</body>
</html>
