@import '../../styles/styles.scss';
@import '../../styles/spacing.scss';

.sponsor-perks {
  &-container {
    background-color: $secondary;
    padding-top: $space-xxlarge;
    padding-bottom: $space-xxlarge;
  }

  &-header {
    @include page-margin;
    color: $light_grey;
  }

  &-content {
    @include md {
      padding-left: 10%;
      padding-right: 10%;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .perks {
      margin-top: $space-large;

      .perk-item {
        &:not(:last-of-type) {
          margin-bottom: $base * 2;

          @include md {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}