@import '../../styles/styles.scss';

.sponsor-perks {
  background-color: $secondary;
  padding-top: $base * 5;
  padding-bottom: $base * 2;

  &-header {
    @include page-margin;
    color: $light_grey;
  }

  &-content {
    @include md {
      padding-left: $base * 20;
      padding-right: $base * 20;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .perks {
      margin-top: $base * 2;

      @include md {
        margin-top: $base * 7;
      }

      .perk-item {
        &:not(:last-of-type) {
          margin-bottom: $base * 2;
        }
      }
    }
  }
}