---
layout: history
title: UNIHACK Mini
page: archive
subpage: unihack-mini-2016
og_description: "UNIHACK Mini - Monash University - April 9-10"
og_image: /img/unihack-mini/unihack-mini-og.png
---

{% assign event = site.data.events[page.subpage] %}

<div class="event-header" id="unihack-mini-2016">
  <div class="wrap">
    <div class="event-header-overlay">
      <h2>{{ event.title }}</h2>
      <p class="subtitle">{{ event.subtitle }}</p>
      <p class="date">{{ event.date }}</p>
      <p class="location">{{ event.location }}</p>
    </div>
  </div>
</div>

<div id="event-by-the-numbers" class="section event-section">
  <div class="wrap">
    <h3><span>By The Numbers</span></h3>
    <div class="row">
      <div class="stat-3">
        <p>
          <span>$5,000+</span>
          worth of prizes
        </p>
      </div>
      <div class="stat-3">
        <p>
          <span>24</span>
          hours to build an app
        </p>
      </div>
      <div class="stat-3">
        <p>
          <span>37</span>
          students competing
        </p>
      </div>
      <div class="stat-3">
        <p>
          <span>14%</span>
          female participants
        </p>
      </div>
    </div>
  </div>
</div>

<div id="event-winners" class="section event-section">
  <div class="wrap">
    <h3><span>Winners</span></h3>
    <div class="row">
      {% for prize in event.winners %}
      {% if prize.type == "major" and prize.accent == "first" %}
      <div class="winner-top">
        <div class="winner-card top {{ prize.accent }}">
          <a href="{{ prize.url }}">
            <img src="{{ prize.img }}" alt="{{ prize.prize }} - {{ prize.team }}" />
            <span class="icon"><i class="fa fa-trophy"></i></span>
            <h4 class="prize">{{ prize.prize }}</h4>
            <p class="team">{{ prize.team }}</p>
            <p class="university">{{ prize.uni }}</p>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row minor-prize">
      {% for prize in event.winners %}
      {% if prize.type != "major" %}
      <div class="winner">
        <div class="winner-card">
          <a href="{{ prize.url }}">
            <h4 class="prize">{{ prize.prize }}</h4>
            <p class="team">{{ prize.team }}</p>
            <p class="university">{{ prize.uni }}</p>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include judges.html %}

{% include criteria.html %}

{% include sponsors-partners.html %}
