@import '../../styles/styles.scss';

.sponsor-addons {
  background-color: $light_grey;
  
  &-content {
    @include page-margin;
    padding-bottom: $base * 5;

    .addons {
      display: flex;
      margin-bottom: $base * 2;

      @include xsm {
        flex-direction: column;
      }

      @include md {
        flex-direction: column;
      }

      .addon-card {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        padding: 10px;
        height: 40px;
        margin-top: $base;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        @include md {
          width: 50%;
        }

        &:not(:last-of-type) {
          @include xsm {
            margin-bottom: $base * 2;
          }

          @include md {
            margin-bottom: 0;
            margin-right: $base * 2;
          }
        }

        .right-text {
          float: right;
          margin-left: auto;
          margin-right: 0;
          font-weight: bold;
        }
      }
    }

    .actions {
      @include action-container;
    }
  }
}