@import '../../styles/styles.scss';

.home-register {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 2px solid $pacific;


  &-content {
    padding: $base * 4;
  }

  &-grid {
    display: grid;
    column-gap: $base * 4;
    row-gap: $base * 4;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      row-gap: $base * 8;
    }
  }

  &-section {
    padding-left: $base * 6;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 $base * 4;
    font-weight: 600;
    letter-spacing: -1px;
    color: $pacific;

    @include lg {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h3 {
    font-size: 21px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -1px;
    color: $pacific;
    margin: 0 0 $base * 2;

    span {
      display: block;
      background: $pacific;
      font-size: 14px;
      width: 32px;
      height: 32px;
      text-align: center;
      border-radius: 50%;
      color: white;
      margin-right: $base;
      margin-left: $base * -6;
      float: left;
    }
  }

  p {
    color: $secondary;
    line-height: 24px;
    margin: $base * 2.5 0;
  }

  p strong {
    font-weight: 600;
  }
  
}