@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.event-page-judges {
  background-color: $secondary;
  margin-top: 64px;
  padding: $base * 4;

  &-content {
    @include page-margin;
    color: $white;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $base * 2;

    @include lg {
      grid-template-columns: 1fr 1fr;
      gap: $base * 4;
    }

    h2 {
      margin-top: $base * 2;
      padding-top: $base * 2;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      @include lg {
        padding-top: $base * 4;
        grid-column: 1 / span 2;
      }

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}
