@import '../../../styles/home.css';

.home_header {
  @apply home-section;
  position: relative;
  margin: 0 auto;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.1);

  @variant lg {
    padding: 100px 0 100px 64px;
    text-align: left;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 24px;
    font-weight: 100;
    letter-spacing: -5px;
    text-align: center;

    @variant lg {
      font-size: 96px;
      line-height: 96px;
      letter-spacing: -5px;
      margin-bottom: 48px;
    }

    span {
      font-weight: 700;
      display: inline-block;
    }
  }
}

.home_header_text {
  @variant lg {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  p {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
    font-weight: 300;
    margin: 0 0 24px;
    color: white;

    @variant lg {
      font-size: 24px;
      line-height: 32px;
    }
  }

  a {
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
  }
}
