@reference "#styles/core.css";

.hero {
  video {
    position: absolute;
    z-index: -99;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0, var(--background), rgba(1, 2, 14, 0.6));
    z-index: -98;
  }

  display: flex;
  height: max(75vh, 400px);
  position: relative;

  > div {
    @apply container;
    padding-top: 140px;
    padding-bottom: 48px;
    margin: 0 auto;
    text-align: left;
    align-content: center;

    @variant sm {
      text-align: center;
    }
  }

  .contentBox {
    @variant lg {
      text-align: center;
      margin: 0 auto;
    }
  }

  p {
    @apply text-base/6;
    margin-bottom: 8px;
    font-weight: 500;
    color: white;

    span {
      @apply text-4xl/10;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0;
      color: var(--palette-yellow);
    }

    @variant sm {
      @apply text-2xl/6;
      letter-spacing: -1px;
      font-weight: 300;

      span {
        @apply text-6xl/16;
        letter-spacing: -2px;
      }
    }

    @variant md {
      @apply text-4xl/12;
      margin-bottom: 16px;
      letter-spacing: -2px;

      span {
        @apply text-8xl/20;
        letter-spacing: -3px;
      }
    }
  }
}
