@import '../../styles/breakpoints.scss';
@import '../../styles/spacing.scss';
@import '../../styles/styles.scss';

.tiers {
  border-top: 1px solid #e0e0e0;
  background: #F3F4F5;
  position: relative;
  padding-bottom: $space-xxlarge;
}

.body {
  background-color: $light_grey;
  padding-bottom: $space-xxlarge;

  h2 {
    margin-bottom: $base * 4;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

}
