@import '../../styles/breakpoints.scss';
@import '../../styles/spacing.scss';

.tiers {
  border-top: 1px solid #e0e0e0;
  background: #F3F4F5;
  position: relative;
  padding-bottom: $space-xxlarge;
}
