$primary: #fcc300;
$secondary: #1f252a;

$red: #d42e2a;
$light_grey: #f3f4f5;

$white: #ffffff;
$black: #000000;
$midori: #06BE5A;
$pacific: #3A7DFF;
$salmon: #FF7777;

$platinum: #A3ADB8;
$gold: #FEE795;
$silver: #E4E6E9;
$bronze: #FFE4C2;