$primary: #fcc300;
$secondary: #1f252a;

$red: #d42e2a;
$light_grey: #f3f4f5;

$white: #ffffff;
$midori: #06be5a;
$midori-d50: #035f2d;
$midori-l70: #38cb7b;
$midori-l50: #83dfad;
$pacific: #3a7dff;
$pacific-d50: #1d3f80;
$pacific-l50: #9dbeff;
$salmon: #ff7777;
$salmon-d50: #803c3c;
$salmon-l50: #ffbbbb;
$primary-l50: #fee180;
$primary-l70: #feedb3;
$purple: #cb9ef8;
$cyan: #00fffc;
$electric-blue: #0066FF;

// Sponsorship
$platinum: #a3adb8;
$gold: #fee795;
$silver: #e4e6e9;
$bronze: #ffe4c2;

// Footer colours
$footer_color: #191e22;
$footer_border: #2b333b;
$footer_text: #4e5d6a;
$footer_link: #687c8d;
