$primary: #fcc300;
$secondary: #1f252a;

$red: #d42e2a;
$light_grey: #f3f4f5;

$white: #ffffff;
$midori: #06be5a;
$pacific: #3a7dff;
$salmon: #ff7777;

// Sponsorship
$platinum: #a3adb8;
$gold: #fee795;
$silver: #e4e6e9;
$bronze: #ffe4c2;

// Footer colours
$footer_color: #191e22;
$footer_border: #2b333b;
$footer_text: #4e5d6a;
$footer_link: #687c8d;
