$base: 8px;
$primary: #fcc300;
$secondary: #1f252a;

$red: #d42e2a;
$grey: #2e383f;
$light_grey: #f3f4f5;
$blue: #19607d;

$fonts: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$fontsBasic: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$floatingShadow: 0px 2px 4px rgba(0, 0, 0, 0.13);

// Breakpoints
@mixin xsm {
  @media (min-width: 0em) {
    @content;
  }
}

@mixin ksm {
  @media (min-width: 22em) {
    @content;
  } //352px
}

@mixin sm {
  @media (min-width: 37.5em) {
    @content;
  } //600px
}

@mixin md {
  @media (min-width: 50em) {
    @content;
  } //800px
}

@mixin lg {
  @media (min-width: 64em) {
    @content;
  } //1024px
}

@mixin xl {
  @media (min-width: 70em) {
    @content;
  } //1120px
}

@mixin xxl {
  @media (min-width: 80em) {
    @content;
  } //1280px
}

@mixin page-margin {
  @include xsm {
    width: calc(100% - 32px);
    margin-left: $base * 2;
    margin-right: $base * 2;
  }

  @include sm {
    width: calc(100% - 48px);
    margin-left: $base * 3;
    margin-right: $base * 3;
  }

  @include lg {
    width: 970px;
    margin: 0 auto;
  }

  @include xl {
    width: 1100px;
  }
}

@mixin action-container {
  display: flex;
  flex-wrap: wrap;

  @include xsm {
    flex-direction: column;

    :not(:last-of-type) {
      margin-bottom: $base * 2;
    }
  }

  @include sm {
    flex-direction: row;
    margin-bottom: 0;

    :not(:last-of-type) {
      margin-right: $base * 3;
      margin-bottom: 0;
    }
  }
}

// Typography
@mixin heading-sizes {

  h2 {
    @include sm {
      text-align: center;
    }

    &.section-title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 40px;

      @include md {
        font-size: 80px;
      }
    }

    &.highlighted {
      background-color: $primary;
      margin-bottom: $base * 3;
      padding: 0 $base * 3;
      padding-bottom: 4px;
      align-self: center;

      text-align: center;
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }

}

@mixin body-size {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

@mixin body-bold {
  @include body-size;
  font-weight: 500;
}

@mixin subtitle {
  margin: 0;
  font-style: italic;
  font-size: 20px;
  margin-bottom: $base * 2;
}

// Buttons
@mixin button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: $base $base * 3;

  font-family: $fonts;
  @include body-bold;

  border-radius: 25px;
  transition: all 0.2s;
}

@mixin primary-button {
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

@mixin secondary-button {
  border: 2px solid black;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

// Links
@mixin link-base($color) {
  color: $color;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $color;
  }
}

@mixin link-underline($color: black) {
  @include link-base($color);

  &:hover {
    text-decoration: underline;
  }
}

@mixin link($color: black) {
  @include link-base($color);
}
