$base: 8px;
$primary: #fcc300;
$secondary: #1f252a;

$red: #d42e2a;
$light_grey: #f3f4f5;
$blue: #19607d;

$white: #ffffff;
$green: #06BE5A;
$black: #000000;

$fonts: 'Poppins',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';
$fontsBasic: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';

$floatingShadow: 0px 2px 4px rgba(0, 0, 0, 0.13);

// Breakpoints
@mixin xsm {
  @media (min-width: 0em) {
    @content;
  }
}

@mixin ksm {
  @media (min-width: 22em) {
    @content;
  }

  //352px
}

@mixin sm {
  @media (min-width: 37.5em) {
    @content;
  }

  //600px
}

@mixin md {
  @media (min-width: 50em) {
    @content;
  }

  //800px
}

@mixin lg {
  @media (min-width: 64em) {
    @content;
  }

  //1024px
}

@mixin xl {
  @media (min-width: 70em) {
    @content;
  }

  //1120px
}

@mixin xxl {
  @media (min-width: 80em) {
    @content;
  }

  //1280px
}

@import './breakpoints.scss';
@import './colours.scss';
@import './variables.scss';

$fonts: 'Poppins',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';
$fontsBasic: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';

$floatingShadow: 0px 2px 4px rgba(0, 0, 0, 0.13);

@mixin page-margin {
  @include xsm {
    width: calc(100% - 32px);
    margin-left: $base * 2;
    margin-right: $base * 2;
  }

  @include sm {
    width: calc(100% - 48px);
    margin-left: $base * 3;
    margin-right: $base * 3;
  }

  @include lg {
    width: 970px;
    margin: 0 auto;
  }

  @include xl {
    width: 1100px;
  }
}

@mixin action-container {
  display: flex;
  flex-wrap: wrap;

  @include xsm {
    flex-direction: column;

    :not(:last-of-type) {
      margin-bottom: $base * 2;
    }
  }

  @include sm {
    flex-direction: row;
    margin-bottom: 0;

    :not(:last-of-type) {
      margin-right: $base * 3;
      margin-bottom: 0;
    }
  }
}

@mixin subtitle {
  margin: 0;
  font-style: italic;
  font-size: 20px;
  margin-bottom: $base * 2;
}

// Buttons
@mixin button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 14px 24px;
  box-sizing: border-box;
  margin: $base;
  font-family: $fonts;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  align-items: center;
  min-width: 146px;
  height: 48px;
  top: 24px;
  transition: all 0.2s;
  text-decoration: none;

  &:active {
    box-shadow: revert;
  }

  * {
    margin-top: 20px;
  }
}

@mixin button-theme($border, $color, $background) {
  border: 2px solid $border;
  box-shadow: 4px 4px 0px $border;
  color: $color;
  background-color: $background;

  &:hover {
    box-shadow: 3px 3px 0px $border;
  }
}

// Links
@mixin link-base($color) {
  color: $color;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $color;
  }
}

@mixin link-underline($color: $secondary) {
  @include link-base($color);

  &:hover {
    text-decoration: underline;
  }
}

@mixin link($color: $secondary) {
  @include link-base($color);
}