---
layout: main
css: city sydney
nav: sydney
city_page: true
city: Sydney
short: SYD
gmaps: syd-2017-map.js
header_link: /sydney
title_override: true
title: UNIHACK Sydney &mdash; August 19-20, 2017
description: UNIHACK is Sydney's premier student hackathon, running in August at Stone and Chalk, Sydney CBD. Students get 24 hours to design and build something awesome – an app, website, piece of hardware... anything goes. Solve a problem, impress us and win some prizes!
---

{% assign event = site.data.events['2017-sydney'] %}

<div id="event-head">
  <div class="event-head-inner">
    <div class="unihack-wrap container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <span>Get ready, Sydney!</span>
            <span>We are coming on August 19.</span>
          </h2>
          <p>Let's see what you can make in 24 hours.</p>
          <p>
            <a class="uh_btn" href="https://unihack2017syd.eventbrite.com/?aff=website">Buy Tickets Now!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="event-block no-border" id="venue">
  <div class="unihack-wrap container-fluid">
    <div class="event-location-block">
      <h3>Venue</h3>
      <p class="address">Stone and Chalk</p>
      <p class="address">50 Bridge Street</p>
      <p class="address">Sydney, NSW 2000</p>

      <h4>How do I get there?</h4>
      <p>
        The best way to get to Stone and Chalk is taking a train/ferry to Circular Quay,
        then walking down to the corner of Young Street and Bridge Street.
        For those who wish to take a bus, the nearest bus stop is Circular Quay,
        Phillip St, Stand C.
      </p>

      <p>
        We suggest you visit Transport NSW's website at
        <a href="https://transportnsw.info/#/">transportnsw.info</a> to plan your
        travel for the weekend.
      </p>
    </div>
  </div>
  <div class="google-maps" id="syd-2017-map"></div>
</div>

{% include event/judging.html %}

<div class="page-block event-tweet event-quote no-border">
  <div class="unihack-wrap container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <i class="icon fa fa-twitter"></i>
        <p class="tweet">Great start to #UNIHACK2016! I've heard some awesome ideas - looking forward to seeing what the teams come up with.</p>
        <p class="source">
          &mdash; Stefan Petrucev, Developer at Atlassian (@stefanpetrucev)
          <a href="https://twitter.com/stefanpetrucev/status/759231235432521729"><i class="fa fa-link"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="event-block" id="diversity">
  <div id="diversity-img"></div>

  <div class="unihack-wrap container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <h3>Diversity</h3>
        <p>
          Unfortunately, there are some groups that are underrepresented in the IT community. These groups
          include (but are not limited to) women, people of colour, the LGBTQIA+ community, people with
          disabilities, and those from economically or socially disadvantaged backgrounds who would be
          unable to attend without some financial assistance.
        </p>
        <p>
          We value diversity and inclusion at UNIHACK Sydney, and believe expressing and offering support
          is the first step to progress. As such, we like to invite competitors from these
          underrepresented backgrounds to apply for the Diversity Scholarship, so that
          we can support you with a discounted entry!
        </p>
        <p><a class="uh_btn" href="https://goo.gl/forms/4CMOhdVFQKHI4MqJ2">Apply Now</a></p>
      </div>
    </div>
  </div>
</div>

{% include event/sponsor_partner.html %}

{% include event/faq.html %}

{% include event/about.html %}

{% include event/society.html society="suits" %}

{% include event/register.html url="https://unihack2017syd.eventbrite.com/?aff=website" %}
