---
layout: main
css: city sydney
nav: sydney
city_page: true
city: Sydney
short: SYD
header_link: /sydney
title_override: true
title: UNIHACK Sydney
description: UNIHACK is Sydney's premier student hackathon, coming back in 2019!
---

{% assign event = site.data.events['sydney'] %}

<div id="event-head">
  <div class="event-head-inner">
    <div class="unihack-wrap container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <span>UNIHACK Sydney is over for 2018.</span>
            <span>See you next year!</span>
          </h2>
          <p>
            <a class="uh_btn" href="http://unihack2018syd.devpost.com">See who won</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include event/about.html %}

{% include event/judges.html %}

{% include event/sponsor_partner.html %}

{% include event/society.html society="suits" css="no-border" %}
