@import '../../styles/styles.scss';

.container {
  @include page-margin;
  padding-top: $base * 2;
  padding-bottom: $base * 4;

  > * {
    margin-bottom: 64px;
  }

  .row {
    display: grid;
    grid-gap: $base * 3;
    margin: $base * 3 0 0;
    
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.intro {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  padding-top: $base * 4;
  padding-bottom: $base * 4;
  margin: 0 auto 32px;

  &.sydney {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  }

  a {
    mask: url('../../public/images/events/2024-logo.svg') left center no-repeat;
    mask-size: contain;
    background-color: white;
    height: 60px;
    width: 100px;
    text-indent: -999em;
    display: block;
    padding: 0;
    margin: 0 0 24px;
  }

  h1 {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 0 0 $base * 12;
    color: white;

    @include md {
      font-size: 4rem;
      line-height: 4.25rem;  
    }

    span {
      display: block;
      font-weight: 300;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0;
    color: white;

    span {
      display: block;
      width: 188px;
      height: 28px;
      margin-top: $base;
      text-indent: -999em;
      background: url('../../public/images/wired-logo-white.png') top left no-repeat;
      background-size: contain;

      @include md {
        display: inline-block;
        margin-top: 0;
        margin-left: $base;
      }
    }
  }

  .container {
    padding-top: $base * 4;
    padding-bottom: $base * 4;  
  }

  .buttons {
    margin-top: $base * 4;

    a {
      margin-right: $base * 2;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

.register {

  h2 {
    color: $electric-blue;
    margin: 0 0 $base * 2;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 2rem;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $base * 6;

    @include md {
      grid-template-columns: 1fr 1fr 1fr;
    }

    > div {
      counter-increment: registerCounter;
    }

    h3 {
      color: $electric-blue;
      font-size: 1.3125rem;
      font-weight: 600;
      margin: 0 0 $base;
    }

    h3:before {
      content: counter(registerCounter);
      display: block;
      background: $electric-blue;
      padding: 4px;
      width: 24px;
      height: 24px;
      color: white;
      border-radius: 50%;
      line-height: 24px;
      text-align: center;
      margin-bottom: 8px
    }

    p {
      font-size: 1rem;
      margin: 0 0 $base * 2;
      font-weight: 400;
    }

    strong {
      font-weight: 600;
    }

  }

}

.location {
  padding: $base * 4;
  border-radius: 5px;
  border: 3px solid #d0d0d0;

  h2 {
    color: $secondary;
    margin: 0 0 $base * 2;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 2rem;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $base * 4;

    @include md {
      grid-template-columns: 1fr 1fr;
    }

    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      margin: $base * 2 0 0 0;
    }

    h3:first-child {
      margin: 0;
    }

    p {
      font-size: 1.3125rem;
      margin: 0 0 $base * 2;
      font-weight: 300;
    }

    p.time {
      font-size: 1.5rem;
    }

    p.concat {
      margin: 0;
    }
  }
}

.club {
  background-color: rgb(100 116 139);
  padding: $base * 4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  @include sm {
    align-items: center;
    flex-direction: row-reverse;
  }

  &-logo {
    margin-bottom: $base * 4;
    
    @include sm {
      flex: 1;
      margin-left: $base * 4;
      margin-bottom: 0;
    }  

    @include md {
      flex: unset;
      width: 200px;
    }

    img {
      width: 100%;
    }
  }

  &-content {
    flex: 1;
  }

  h2 {
    color: white;
    margin: 0;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.5rem;
  }

  p {
    color: white;
  }
}