@import '../../styles/styles.scss';

.menu {
  z-index: 999;

  @include xsm {
    .nav {
      display: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      background: rgba(0,0,0, 0.95);
      flex-direction: column;
      align-items: center;
      list-style: none;

      padding-top: 72px;
      
      &.nav-show {
        display: flex;
      }
    }

    .menu-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
    }

    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
  
      width: 32px;
      height: 32px;
      padding: 0;
      border: 2px solid $secondary;
      background-color: transparent;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: $secondary;
      }

      &.nav-show {
        color: white;
        border: 2px solid white;
        position: fixed;

        svg {
          fill: white;
        }
      }

      
    }
  }

  @include md {
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
      position: relative;
      width: auto;
      height: auto;
      background: transparent;
  
    }

    .menu-container {
      display: none;
    }
  }
}