@import '../../../styles/styles.scss';
@import '../../../styles/spacing.scss';

.perk {
  display: flex;
  border-radius: 0px;

  @include xsm {
    flex-direction: column;
  }

  @include lg {
    display: inline-table;
    max-width: 420px;
    margin-right: $base * 4;
  }

  .perk-img {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .perk-desc {
    padding: $space-large;
    color: $secondary;
    text-align: left;
    white-space: normal;

    @include md {
      padding: $space-large $space-xlarge;
    }
  }
}
