@import '../../styles/styles.scss';

.sponsor {
  background-color: $secondary;

  &-content {
    @include page-margin;

    padding-top: $base * 4;
    padding-bottom: $base * 4;
    color: white;

    ul {
      margin: 0;
    }

    span {
      color: $primary;
    }

    .actions {
      @include action-container;
    }
  }
}