@import '../../styles/styles.scss';

.sponsor {
  border-radius: 5px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: $midori;

  &.standalone {
    @include page-margin;
  }

  @include md {
    height: 440px;
  }

  &-content {
    position: absolute;
    padding: $base * 4;
    bottom: 0;
    left: 0;
    right: 0;
    @include md {
      text-align: center;
    }
  }

  h2 {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;

    @include md {
      font-size: 16px;
      line-height: 21px;
    }
  }

  p {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 $base * 2;
    font-weight: 600;
    letter-spacing: -1px;
    color: white;

    @include md {
      font-size: 36px;
      line-height: 48px;
    }
  }
}